[2017-01-19 23:37] corymsmith opened #2 "Not getting updates at the intervals requested"
For some reason I only get very sporadic updates from the gyroscope and accelerometer (using the observable subscription). Any ideas why that might be happening?

[2017-01-20 07:42] DanielMSchmidt commented on #2
Will get into this tomorrow, can you tell me which platform you are using?

[2017-01-20 16:20] corymsmith commented on #2
I was using iOS, I submitted a PR to change the docs but it looks like Android takes ms so maybe the best course of action is to update the iOS native code to convert to seconds instead.

[2017-01-22 16:56] DanielMSchmidt commented on #2
I see the problem, [iOS](https://developer.apple.com/reference/coremotion/cmmotionmanager/1616135-accelerometerupdateinterval) handles this in seconds, [Android](https://developer.android.com/reference/android/hardware/SensorManager.html#registerListener(android.hardware.SensorEventListener, android.hardware.Sensor, int)) in microseconds. I handled the translation for android, but missed out on it

[2017-01-22 17:01] #2 closed

[2017-01-22 17:06] DanielMSchmidt commented on #2
@corymsmith By the way, if you share the project you are working on I will add it to a section in the readme.

[2017-02-28 22:04] Bobby-hewitt opened #5 "'_reactNativeSensors.Accelerometer is not a constructor'"
I keep getting this error when implementing the api and 'reactNativeSensors.decorator is not a function when using the decorator.  Could do with an example to work off, otherwise any help would be appreciated.

[2017-03-01 07:54] DanielMSchmidt commented on #5
hey, I will have a look at this. Unfortunately I haven't had the time to work on the example a bit more, this is still a bit WIP. I will try to fix it up and then I will test it. Are you using the latest version?

[2017-03-01 07:55] Bobby-hewitt commented on #5
That's great, thanks. Yep, I'm using the latest version

Sent from my iPhone

On 1 Mar 2017, at 07:54, Daniel Schmidt <notifications@github.com<mailto:notifications@github.com>> wrote:

hey, I will have a look at this. Unfortunately I haven't had the time to work on the example a bit more, this is still a bit WIP. I will try to fix it up and then I will test it. Are you using the latest version?

[2017-03-01 15:01] Bobby-hewitt commented on #5
Hey, just to let you know I've worked around this by requiring the entire module and then using dot notation to call the constructor:

import  ReactNativeSensors from 'react-native-sensors';
const accelerationObservable = new ReactNativeSensors.Accelerometer({
...

Thanks v. much :)

[2017-03-01 15:16] DanielMSchmidt commented on #5
Can you show your original code, so I can fix that bug?

[2017-03-03 06:36] Eyyub opened #7 "Gyroscope is undefined at first render"
Hello,

It seems that `this.props.Gyroscope` is undefined at first `render` maybe because its initialization happens some `ms` after `render`, however I would like to know how should I correctly handle this behavior, something like that maybe ?

[code]

Thanks,

[2017-03-03 07:41] DanielMSchmidt commented on #7
Hey, I will have a look into this this weekend and will come up with a (hopefully) good answer

[2017-03-14 18:44] malnor commented on #5
I had the same problem, the original code is the one that was supplied in the example (which by the way contains errors in the manual installation instructions - I'll try to give you a mini pr on that when I have some time over..). The workaround supplied by @Bobby-hewitt works.

Original code:
import { Accelerometer, Gyroscope, Magnetometer } from 'react-native-sensors';

const accelerationObserv

[2017-03-14 18:45] DanielMSchmidt commented on #5
@malnor Thank you, I will look into this later today! 👍

[2017-03-28 15:53] stephanedemotte opened #8 "throw new RuntimeException("No Gyroscope found");"
Hi !

Thank for this useful lib

With Android emulator (android 6.0, nexus 5)
I got this error `No Gyroscope found`

Same probleme on [react-native-sensor-manager](https://github.com/kprimice/react-native-sensor-manager/issues/25)

Any Idea ?

[2017-03-28 16:11] DanielMSchmidt commented on #8
Yeah, this means that you don't have the native gyroscope accessible. It should work on a real device though

[2017-03-28 17:32] stephanedemotte commented on #8
Ok great thanks !

`throw new RuntimeException` make the app crash.

Maybe a alert is more safer ?

[2017-03-29 13:05] DanielMSchmidt commented on #8
I thought those would get translated into JS errors which one could catch, was I wrong?

[2017-03-29 20:25] DanielMSchmidt commented on #8
I would need to use RCTMakeError as stated in the docs: https://facebook.github.io/react-native/docs/native-modules-ios.html (and the android equivalent)

[2017-04-03 09:22] tontonrally commented on #8
Hey,

Agree with the RCTMakeError. But maybe we don't have to throw exception until we try to access gyroscope/accelerometer. I mean, can we just throw exception when we try to call the "startUpdates" by checking if the gyro/accelerometer is available ?

This way, we'll not get exception at the init of the module.

[2017-04-03 13:58] DanielMSchmidt commented on #8
@tontonrally Can you mail me on danielmschmidt92@gmail.com? I added you to the org, would be cool if you could provide a small demo for UWP if that isn't too hard for you :) or extend the current example

[2017-04-03 14:00] DanielMSchmidt commented on #8
I see the point, would be open for PRs 👍 I currently try to fix some issues in my drawer lib for react-navigation, these are unfortunately more urgent that fixes in this project, but I have enough time to review and merge stuff ;)

[2017-04-05 21:00] stephanedemotte opened #11 "Heading Compass support"
Anyone know how to get the heading compass ?

I try a lot of code to convert accelerometer, but nothing work for the moment.

Any idea on that would be very appreciated.

Thanks !

[2017-04-06 00:42] stephanedemotte opened #12 "[Android/Accelerometer] updateInterval not working"
Hi

Update interval in Android don't work.

In IOS it work as expected

[2017-04-06 07:57] DanielMSchmidt commented on #11
Can you maybe explain a bit what you mean by heading compass? What are you exactly trying to achieve?

[2017-04-06 10:18] stephanedemotte commented on #11
Try to get the true nord.
Magnetometer doesn't return any value

Found this lib https://github.com/yonahforst/react-native-heading but maybe react-native-sensor can do the job ?

[2017-04-06 15:43] Lleios commented on #8
I agree to use RCTMakeError but it doesn't exist for Android yet. My solution is just temporary. #10

[2017-04-07 17:05] tontonrally commented on #12
uuups, sorry, missclick on the button close :)

we just seen the issue with my teammate, and seen the issue on the windows part also.

we'll do a PR soon ;)

[2017-04-07 20:54] DanielMSchmidt commented on #12
Nice, thank you @tontonrally

[2017-04-07 21:01] tontonrally opened #13 "[Windows/Accelerometer] updateInterval not working"
Same as the #12

The updateInterval is not working, the accelerometer & gyroscope values are updated really quickly.
I already experienced very bad lags cause of this...

[2017-04-09 17:26] DanielMSchmidt commented on #8
I just merged @Lleios PR (Version 2.3.0). This makes the module fail as you try to access the Sensor. Whoever has time is free to make a PR for exchanging this hard error with `RCTMakeError` both on iOS, Android and UWP and we should be fine 👍

[2017-04-09 17:31] DanielMSchmidt commented on #7
@Eyyub I am sorry, I haven't had time to look into this issue. What would be your preferred solution:

- Leave it like it is but make it explicit in the documentation
- Render `null` if one of the values is missing
- Add a `renderLoading` prop, which renders a loading screen while one of the values is missing

[2017-04-09 17:32] DanielMSchmidt commented on #5
This should be fixed by #6

[2017-04-09 17:32] #5 closed

[2017-04-10 23:53] tontonrally opened #16 "background tasks support"
Hey there !

I don't know how it works for android & ios, but for the uwp, I already developed it for windows and it seems to work.

Any plan to support background tasks ?

[2017-04-11 06:18] DanielMSchmidt commented on #16
I am not sure what would be necessary to do in order to send the events when the app is backgrounded, to be honest. I am not even sure if RN supports that generally despite using [headless js](http://facebook.github.io/react-native/releases/0.43/docs/headless-js-android.html#headless-js) on android

[2017-04-12 20:50] Eyyub commented on #7
Hello! IMO I would rather leave it like this and making it explicit in the documentation. Also you could add an example with a `renderLoading` so people would know how they can handle this behavior. But this is only my opinion, it's all about what things a lib should handle and what things should be left to the user's decision :p

[2017-04-13 05:33] DanielMSchmidt commented on #7
Okay, I see. I will enhance the docs then and also add it to an example. Thanks for your help!

[2017-05-09 15:13] vietnugent opened #17 "How to handle different react version?"
My react-native version is 0.43.4 which is newer than the required dependency, 0.40.  Is there  a proper way to handle this situation other than manually installing the older react?

[code]

[2017-05-09 15:50] DanielMSchmidt commented on #17
I have pinned it for no reason. You may do a PR which sets the react-native dependency to `*` or `>= 0.39` or something. It is [this line](https://github.com/react-native-sensors/react-native-sensors/blob/master/package.json#L16) you will need to change. Please make sure to test it locally before pushing the PR. You can do this by cloning this repo, making your changes running [`npm link`](https:/

[2017-05-11 23:23] hmenzagh opened #19 "Accelerometer / Gyroscope are reversed"
Everything is in the title !
iOS, Xcode, 0.44 react native, automatic link

[code]

Thanks !

[2017-05-12 06:18] DanielMSchmidt commented on #19
Can expand a bit on that? We are currently only wiring up native APIs, do android and ios differ here?

[2017-05-12 12:55] hmenzagh commented on #19
I didn't have the chance to test on android but when i call a gyro i get accelerometer results (returns to 0 when i don't move) on the other hand when i call a Accelerometer i get the gyro results

[2017-06-04 06:23] Noitidart opened #21 "Tilt calculation with accelerometer data"
Hi there,

From just the accelerometer data (because my devices dont have a gyro) I was trying to get the tilt. I was hoping to run this by you all here.

So my goal is to get the pitch and the roll.

At least for portrait orientation I think this is correct:

        const { x, y, z } = Accelerometer;
        const roll = Math.atan2(y, z) * 57.3
        const pitch = Math.atan2((-1*x) , Math.pow(

[2017-06-04 22:04] Noitidart opened #22 "Ability to as animation driver with useNativeDriver"
Thanks for this awesome module.

I was using it to drive an animation but it is hurting performance. Is there anyway to use it as we use Animation event drivers -  https://medium.com/xebia/linking-animations-to-scroll-position-in-react-native-5c55995f5a6e

This connects to scroll of a scroll view:
[code]

[2017-06-07 14:10] j-nolan opened #24 "Magnetometer not supported"
Hello,

I'd like to point out that the Magnetometer is not supported. Using it as a decorator will have no effect, and using it explicitly will throw the following error when instanciated:

`undefined is not an object (evaluating 'api.setUpdateInterval')`

I tried to fix it, but it appears that the native implementation is still to be coded.

My suggestion for now is to remove the Magnetometer fro

[2017-06-07 14:29] DanielMSchmidt commented on #24
You are right, I haven't had the time to finish it.

If you would like to help, feel free to do a PR for removing this stuff from the exposed API.

If you would like to add the functionality I would love to give you a walk through on what needs to be done. In general you can easily see that I took the ground work of [react-native-sensor-manager](https://github.com/kprimice/react-native-sensor-mana

[2017-06-07 17:14] j-nolan commented on #24
Hello,

Thanks for replying.

I know nothing about C# and don't own any Apple device so I'm afraid I won't be of much help for iOS support.

Never did native Android either, but I know Java so I can try to support this platform.

I'll make a PR for the exposed API tonight and I'll see if I can do something for Android (can't promise a deadline though).

[2017-06-26 20:25] macelii commented on #21
+ 1

[2017-06-26 20:47] DanielMSchmidt commented on #21
Hey there, no I haven't done stuff like that and I am currently not using this project actively anymore. If you would like to see features added, let's discuss how you may get involved ;)

[2017-06-27 13:26] Noitidart commented on #21
Thanks @macelii - I used this above method in an app I relased here, its a simple tilt game:

* Android -https://play.google.com/store/apps/details?id=com.flythru
* iOS - https://itunes.apple.com/us/app/flythru/id1247138870?mt=8

Thanks @DanielMSchmidt  - is there any maintained sensors project you could recommend? I wish I did, but I only have time to be a consumer of the modules right now. :(

[2017-06-27 13:47] DanielMSchmidt commented on #21
@Noitidart There is non with full ios and android support AFAIK, I am not letting it become stale, but I can't drive it forward right now.

[2017-06-27 13:56] Noitidart commented on #21
Thanks much for the fast reply! That is great news, as long as it doesn't get outdated I will keep using this I really loved the experience it gave me. I dont have enough knowledge of how `useNativeDriver` is implemented, but if I found out I will try to come back and help land this. :)

[2017-07-03 13:32] lefoy commented on #19
I can confirm this, the gyroscope and accelerometer are reversed. The gyroscope returns accelerometer results and vice versa.

[2017-07-03 13:41] lefoy opened #26 "iOS and Android results decimal"
The `X` and `Y` axis doesn't share the same decimals on Android and iOS. This is fairly simple to handle outside of the plugin but I feel like this should be handled by the plugin.

Also the Z axis doesn't return the same values on Android and iOS, but I don't think this is an issue with this plugin.

**Android**
[code]
**iOS**
[code]

Thank you!

[2017-07-03 20:33] DanielMSchmidt commented on #19
Sorry that I didn't respond yet, could you do a PR maybe?

[2017-07-03 21:09] DanielMSchmidt commented on #26
Hey, I would be happy to see a PR for that 👍

[2017-07-04 12:06] lefoy commented on #26
I ended up using another plugin because I needed the magnetometer. I probably won't have time to work on that sorry.

[2017-07-17 16:09] lefoy commented on #24
+1, would also like to be able to use the magnetometer with this plugin

[2017-07-18 17:04] agrcrobles commented on #12
This is working in android now!

[2017-07-18 17:19] DanielMSchmidt commented on #12
@agrcrobles Thanks for reporting back 👍

[2017-07-18 17:19] #12 closed

[2017-08-07 08:24] ozsirma opened #27 "Do you support Light Sensor ?"
I need a library that include light sensor component for iOS and Android. Can you give me a hand for this issue ?

[2017-08-07 08:34] DanielMSchmidt commented on #27
We don't support it but we would gladly accept a PR

[2017-08-15 14:01] ozsirma commented on #27
I searched in this topic. As a result , "I/O Kit is a low-level framework communicating with hardware or kernel services. Although it is a public framework, Apple discourages developers from using it, and any apps using it will be rejected from App Store.". Therefore Lightsensor is not necessary.

[2017-08-15 14:01] #27 closed

[2017-08-15 15:58] DanielMSchmidt commented on #27
@ozsirma Thanks for sharing the insight 👍

[2017-08-18 03:55] darioodiaz opened #28 "Check device sensors"
Hi ! there is a way to check if the device has some sensors? My phone dont have gyroscope and I get a error but my app will be use some features with gyro and other without it, react-native-sensors let me check sensors before start?

[2017-08-25 08:49] rngadam opened #29 "undefined is not an object (evaluating 'api.setUpdateInterval')"
Cannot get this working either on my own code (from create-react-native-app version: 1.0.0) or from the example https://github.com/react-native-sensors/RNSensorExample (I had to use react-native upgrade to fix it).

This is the error (both iOS and Android):

![screen shot 2017-08-25 at 4 46 41 pm](https://user-images.githubusercontent.com/538542/29706618-000e2c70-89b5-11e7-8f53-fd5a297cf534.png)

[2017-09-14 22:30] ctxdl opened #31 "Cannot read property 'shape' of undefined"
Hi I have this error after updating to 0.48.3

ExceptionsManager.js:65 Cannot read property 'shape' of undefined

decorator.js:5:36

[2017-09-15 10:13] ctxdl commented on #31
After some trying running this again corrected the issue

npm install react@16.0.0-alpha.12

[2017-09-15 10:13] #31 closed

[2017-10-02 18:28] Lesliesibbs commented on #29
anyone able to get past thus issue? getting the one on ios and android, tried installing packages from scratch and nothing working?

[2017-10-06 05:10] KevinHu2014 commented on #29
same problem here😭

[2017-10-06 06:38] rngadam commented on #29
workaround for us was to use Expo API instead which supports many of the sensors already:

https://docs.expo.io/versions/latest/sdk/accelerometer.html

[2017-10-06 06:41] DanielMSchmidt commented on #29
Sorry, I didn't have time to look into this recently. I will try to find a good solution the next days. By the way the simulator has no sensor data, just that you know

[2017-10-09 17:00] alexwasner commented on #31
This issue is back with `react@16.0.0`. Should probably be re-opened as `PropTypes` is no longer on the `React` object and is now a separate module `prop-types`

[2017-10-11 09:19] epeli opened #34 "Docs outdated?"
It seems that `new Accelerometer()` returns a promise of an observable and not the observable directly which the README indicates.

[2017-10-11 09:51] Greeny7 commented on #34
Yeah, yesterday I ran "npm update" in my project and get some troubles because of it. Now we need something like
[code]

[2017-10-11 10:17] DanielMSchmidt commented on #34
I think I introduced this in the last release, which was unintentionally breaking. I am very sorry about that. @Greeny7 would it be possible for you to send in a PR for the docs?

[2017-10-11 10:46] epeli commented on #34
What I was actually wondering was this api change intentional?  I've never seen a js api where `new`  is used to create a custom promise.

[2017-10-11 10:54] DanielMSchmidt commented on #34
Not really, we just wanted to have the error on the js side so it's catchable.

[2017-10-13 19:18] Chathu94 commented on #11
Try this - https://github.com/vnil/react-native-simple-compass

[2017-10-13 19:26] DanielMSchmidt commented on #11
That seems pretty nice, maybe we could use it here and move it into the rxjs structure 🤔

[2017-10-15 16:08] ccostel commented on #29
I got rid of this error by running `react-native link react-native-sensors`. When I first read the getting started I missed that line.

[2017-10-19 20:29] parabolox opened #37 "Licensing"
I was wondering what the licensing is on this repo? I don't see a LICENSE file nor do I see a specification in the package.json, which essentially limits the ability to fork or modify. Please advise. Thanks!

[2017-10-19 20:59] DanielMSchmidt commented on #37
Oh, it seems like I forgot to add it, will fix that

[2017-10-19 21:05] #37 closed

[2017-10-19 21:56] parabolox commented on #37
Awesome, thank you so much!

[2017-10-30 16:01] dorthwein commented on #16
react-native-background-geolocation does this but accesses more sensors (thus more battery).  Maybe check out that project by chance?  Implementing this would be outside by skill set unfortunately.

[2017-11-15 09:17] ay5000 opened #39 "Cannot run: Getting a TransformError relating to rxjs"
I am trying to run this library by following the sample:

import { decorator as sensors } from 'react-native-sensors';

Project doesn't run at all and I get a "TransformError: rxjs/symbol/iterator.js: Property left of AssignmentExpression expected node to be of a type ["LVal"] but instead got a "ConditionalExpression"

Running React Native 0.48

Thanks.

[2017-11-18 17:16] Azmeer-crescent commented on #29
I am also getting this same error, even after linking ! ran both examples, no luck

[2017-11-23 18:19] Topppy commented on #29
here is my solution(IOS):

1.  Run `react-native link react-native-sensors`

2.  quit your server

3. and restart  using `react-native run-ios`

[2017-11-27 02:34] xuexiaoao opened #40 "Support the direction of induction?"
Support the direction of induction?
for example, from the vertical screen into a horizontal screen mobile phone

[2017-11-29 06:47] VincentSuperper opened #41 "Android: Get sensor data when screen is locked"
I can't get any sensor data when the screen is turned off.

EDIT by @danielmschmidt: It does come back when the screen is unlocked again.
This seems like a possible solution: https://stackoverflow.com/questions/25148894/how-to-keep-my-accelerometer-working-on-lock-screen-onpause#comment39150109_25149107

[2017-11-29 08:33] VincentSuperper opened #42 "how to restart the sensor after accelerationObservable.stop()"

[2017-11-30 01:23] #42 closed

[2017-11-30 08:34] DanielMSchmidt commented on #42
@VincentSuperper Did you solve your issue? Would be great if you could add a line to the readme 👍  (sorry that I didn't respond quicker)

[2017-11-30 08:36] VincentSuperper commented on #42
i just recreate it.

[2017-11-30 08:39] VincentSuperper commented on #41
i can't get any sensor data when the screen is turned off.

[2017-12-04 21:57] #17 closed

[2017-12-04 22:00] #7 closed

[2017-12-04 22:07] DanielMSchmidt commented on #8
I think it should work with the promise.reject, I mean it shouldn't break the app

[2017-12-04 22:07] #8 closed

[2017-12-04 22:24] #21 closed

[2017-12-04 22:32] #34 closed

[2017-12-04 22:34] DanielMSchmidt commented on #29
I would close this for now, if this error still occurs, please ping me an example project, so that I may test it myself 👍

[2017-12-04 22:34] #29 closed

[2017-12-04 22:40] DanielMSchmidt commented on #28
I think it should be checkable if you use the rxjs syntax and check if the promise is rejected. I guess, we should also include it somehow in the observable syntax.

Would you rather

- Always get a `null` from the sensor
- Have a dedicated error prop that you can check
- both

What do you think is the best one to use?

[2017-12-04 22:40] DanielMSchmidt commented on #39
Thank you 👍  Do you have by any chance an example project I could check it out wih?

[2017-12-04 22:43] DanielMSchmidt commented on #40
This is not really the scope of this project, but you should check out this one: https://github.com/yamill/react-native-orientation

[2017-12-04 22:43] #40 closed

[2017-12-04 22:44] DanielMSchmidt commented on #41
Thank you for filing this issue, I will try to reproduce it 👍

[2017-12-05 07:49] DanielMSchmidt commented on #39
Should be fixed in `2.4.2` by #43

[2017-12-05 07:49] #39 closed

[2017-12-07 07:56] VincentSuperper commented on #41
i tried to add a wakelock, still didn't work

[2017-12-07 08:03] VincentSuperper commented on #41
it works in background but stops when i turn off the screen

[2017-12-07 08:05] DanielMSchmidt commented on #41
Okay, I will investigate this over the next weeks. Have you tried if there
is the same behavior on iOS?

SuperperVincent <notifications@github.com> schrieb am Do., 7. Dez. 2017,
09:03:

[2017-12-07 08:10] VincentSuperper commented on #41
everything is fine in iOS.

[2017-12-07 08:12] VincentSuperper commented on #41
i know little about Android, i've tried some solutions on the internet, but none of them works perfect.

[2017-12-07 08:16] VincentSuperper commented on #41
this issue has bothered me for quite a while, really hope to get some help ASAP.

[2017-12-07 08:21] DanielMSchmidt commented on #41
I did some research and have a folllow up question. So my research said it can only keep up the sensor data if you [don't allow the device to lock](https://stackoverflow.com/questions/25148894/how-to-keep-my-accelerometer-working-on-lock-screen-onpause#comment39150109_25149107), but I don't think one would like to make it the default. So my question is, does the sensor data come back if the device

[2017-12-07 08:22] VincentSuperper commented on #41
yes it does come back

[2017-12-07 08:27] DanielMSchmidt commented on #41
Okay, so what you would like to have is an option to say "I want to disallow the app to get backgrounded", right? I could try to build in a flag `alwaysOn` or `androidAlwaysOn` and use the technique mentioned [here](https://stackoverflow.com/a/25149107/1559386O). To be honest, this is for me quite low on my prio list, but I would feel super honoured if you would take the time to try  a PR yourself

[2017-12-07 08:34] VincentSuperper commented on #41
BTW, I've tried to use Service once, i didn't know if i did it right, and it turns out that it didn't work on every android device in my office

[2017-12-07 08:51] VincentSuperper commented on #41
when i turned off the screen, it threw an exception like this

I/SensorManagerFlow: registerListenerImpl
                                                               java.lang.Exception
                                                                   at android.hardware.SystemSensorManager.registerListenerImpl(SystemSensorManager.java:118)

[2017-12-08 02:10] VincentSuperper commented on #41
no need to disallow the device to lock, just keep the CPU awake

[2017-12-08 16:37] zygama commented on #29
I have the same error when i use https://github.com/react-native-sensors/RNSensorExample/blob/master/SensorExample.js :'(

[2017-12-14 04:54] darioodiaz commented on #28
Thanks for your response @DanielMSchmidt I'm a little busy these days but as sonn as possible I'll check that solution and update this issue, thanks again

[2017-12-17 01:32] ay5000 opened #44 "Getting undefined is not an object (evaluating 'api.setUpdateInterval') for both examples"
I've tried running both the decorator example and sensor API example and keep getting the same error.

Running react 16.0.0 and react-native 0.50.4. Here is screenshot for full stack trace:

![sensorserror](https://user-images.githubusercontent.com/15784560/34075814-48512458-e2a0-11e7-879c-ca38221cec54.jpg)

[2017-12-22 01:43] #44 closed

[2017-12-22 21:29] LeBlaaanc commented on #19
I agree with these findings, gyroscope and accelerometer seems backwards, this happens in expo's library too so I'm not sure if they are using this module.

[2018-01-11 08:10] ringcrl commented on #26
@efoy  What another plugin did you used?

[2018-01-11 08:37] ringcrl commented on #44
@ay5000 How to solve it...

[2018-01-11 12:19] lefoy commented on #26
@ringcrl I used a slightly modified version of https://github.com/pwmckenna/react-native-motion-manager

[2018-02-14 13:52] dimitridewit opened #46 "Home page missing in package.json"
Because of the lacking home page attribute in the package.json of react native sensors the pod install command fails. Simply going into node_modules/react-native-sensors/package.json and adding one solves this problem.

[2018-02-17 12:25] dabit1 commented on #28
Hi! I have just created a pull request to solve that. It was a problem to me because I want to know at the beggining if I'm able to use the sensor or not.

Whilt it is reviewed you can install by `npm install -S github:dabit1/react-native-sensors#master`

The pull request:
[https://github.com/react-native-sensors/react-native-sensors/pull/47](https://github.com/react-native-sensors/react-native-se

[2018-02-19 07:32] ebouJ commented on #24
I want to work with the magnetometer so how is this going guys ? If not i'll try to send a PR

[2018-02-19 07:39] DanielMSchmidt commented on #24
I think we could use your  PR here, would be very glad to review it!

[2018-02-19 08:25] #28 closed

[2018-02-19 08:26] DanielMSchmidt commented on #28
We have one problem, that there is no support for this functionality in windows. The person adding windows left the project, so I will remove windows for now.

[2018-02-19 08:30] #46 closed

[2018-02-19 08:39] DanielMSchmidt commented on #28
@dabit1 @darioodiaz Please check out version `3.0.0-0` and see if it works. Once I got the OK from you I will publish the official `3.0.0` release 👍  Thank you for dedicating time to this project 👍

[2018-02-26 16:12] Michaelvilleneuve opened #55 "Usage with cocoapods creates dependency issues"
When used with cocoapods this library adds a React dependency on top of the initial one and it causes compilation issues.
Worked fine when switching to normal linking though

[2018-02-26 16:30] DanielMSchmidt commented on #55
@namqdam could you help here?

[2018-02-28 11:59] falbertp opened #57 "Please Help Error= Declare Accelerometer at componentDidMount()"
[code]

[code]
Please Help

[2018-02-28 12:38] DanielMSchmidt commented on #57
Did you import Accelerometer? Which version are you using?

[2018-03-01 02:55] #57 closed

[2018-03-02 09:03] emilienh opened #58 "[ios] Too much logging"
Accelerometer updates are being logged several times a second, making the console entirely useless for anything else. Could we make this logging optional please? Thanks a lot!

[2018-03-02 09:51] DanielMSchmidt commented on #58
Sure, would love to see a PR for this <3 Probably the best would be to have a configuration param like

[code]

[2018-03-04 20:13] maxkomarychev commented on #55
@Michaelvilleneuve could you please post exact error you have and a sample from your `Podfile`?

[2018-03-04 21:11] maxkomarychev opened #59 "Not compileable with recent changes from #47"
It looks like syntax for objc code is not valid, does anyone managed to compile it?

![image](https://user-images.githubusercontent.com/7002833/36950626-5ed07ec4-2001-11e8-82b7-f13c87390c5d.png)
![image](https://user-images.githubusercontent.com/7002833/36950630-669541bc-2001-11e8-902a-4d2d4c678a86.png)

[2018-03-16 07:36] DanielMSchmidt opened #64 "Set up prettier"
We currently use styleJS which is a nice addition but leads to a lot of breaking PRs and frustration. Let's include prettier somehow else 👍

[2018-03-16 08:08] DanielMSchmidt opened #65 "Version 3"
Hey there,

I would like to release version 3 with a whole lot of bug fixes and new features. These are the PRs that went into it:

- [Check if sensors are available](https://github.com/react-native-sensors/react-native-sensors/pull/47) by @dabit1
- [Add linking failure message](https://github.com/react-native-sensors/react-native-sensors/pull/61): If you forget to link the native dependencies you

[2018-03-16 08:24] baygeldin commented on #65
Sounds great! I'll try the npm version soon. Thank you for your work on this.

[2018-03-16 09:38] #24 closed

[2018-03-16 09:43] DanielMSchmidt commented on #65
I just published `3.0.0-2`, it would be super nice if you could send in feedback until the end of next week. I will release `3.0.0` once I got two 👍 by you :)

[2018-03-16 09:52] dabit1 commented on #65
Yeah looks good! Good job guys

[2018-03-19 14:28] magnushelg opened #78 "Use sensorEvent.timestamp instead of system time in Android"
Currently the implementation in Android for both Gyroscope and Accelerometer uses a call to System.currentTimeMillis() to get the timstamp for the sensor data.

Instead the more accurate timestamp from the sensorEvent should be used. This data can be retrieved from sensorEvent.timestamp This is also in accordance with the implementation for iOS.

Do note that the timestamp retrieved from the senso

[2018-03-19 15:36] DanielMSchmidt commented on #78
Sounds good, feel free to go ahead to do a PR, would love to see that 👍

[2018-03-19 15:48] DanielMSchmidt commented on #65
@baygeldin did you get to it? I would love to hear a second approval before I release it to the world 🙈

[2018-03-19 21:45] baygeldin commented on #65
@DanielMSchmidt sorry for delay (I've been busy on the weekend). `3.0.0-2` works fine for me (both accelerometer and gyroscope) :)

[2018-03-20 09:19] DanielMSchmidt commented on #65
Awesome, I will release 3.0.0 later today

[2018-03-20 11:17] DanielMSchmidt commented on #65
We have a website now: https://react-native-sensors.github.io/

[2018-03-23 02:23] mahchow opened #88 "Ambient light sensors"
The react-native-sensor-manager project supports the LightSensor api, but it's outdated, so that would be a much needed add on to this project

[2018-03-23 13:22] DanielMSchmidt commented on #88
Hey, that seems like a really awesome idea! If you like give it a try and I will do my very best to guide you along the way 👍

[2018-03-23 19:48] mahchow commented on #88
@DanielMSchmidt alright awesome! I need this working for a project, so I'll give it a shot (i'm just a junior dev trying to learn the ropes)

[2018-03-24 07:04] DanielMSchmidt commented on #88
Feel free to ask for help as often as you like, we'll get this into master together 💪

[2018-03-24 15:08] maxkomarychev commented on #59
@DanielMSchmidt works fine in 3.0.0-2
this was fixed by #60

p.s. thanks for inviting :)

[2018-03-27 06:58] DanielMSchmidt commented on #16
Thank you for the tip @dorthwein I will take a look 👍

[2018-03-27 06:59] DanielMSchmidt commented on #41
Is this a duplicate of #16?

[2018-03-30 05:26] DanielMSchmidt opened #92 "Try bridge for e2e tests"
https://github.com/invertase/bridge

[2018-03-30 17:03] Salakar commented on #92
Seconded 😀 will give you a hand once our tests have migrated over.

[2018-03-30 20:05] DanielMSchmidt commented on #92
Awesome, thank you 👍

[2018-04-03 21:33] #13 closed

[2018-04-03 21:33] #26 closed

[2018-04-04 14:50] KevinDoom commented on #55
@Michaelvilleneuve this problem used to plague me with many libraries. I recently came across react-native-maps suggested install via pods and it has this little snippet that seems to solve the problem:

[code]

For context:

[code]

I am by no means a Pod expert but it worked for me.

[2018-04-08 11:06] #58 closed

[2018-04-09 19:36] Salakar commented on #92
Just a quick update, not forgotten about this :P

Been a few updates to Bridge and some major performance gains whilst working on RNFirebase tests. I pulled across RN's native timers functionality into NodeJS so everything is now much faster:

![gif](https://cdn.pbrd.co/images/HfRhvEn.gif)

Testing on our lib getting there as well and using it to iron out bugs / streamline Bridge:
![image](https:/

[2018-04-10 17:25] abhaypai2611 commented on #88
@mahchow && @DanielMSchmidt  : I've already created a PR [#95](https://github.com/react-native-sensors/react-native-sensors/pull/95) for Ambient light sensor 🙂If you find any issues then let me know. I believe we can take a modular approach to get values for multiple sensors by just passing

1. Sensor type
2. Expected response
3. Event Type

I am not sure how to approach this 🤔 but I believe it's

[2018-04-11 09:47] Noitidart commented on #22
Is this a no go? I was hoping to use this in my game here:

Google Play - https://play.google.com/store/apps/details?id=com.flythru
iOS App Store - https://itunes.apple.com/us/app/flythru/id1247138870
Github - https://github.com/Noitidart/FlyThru/blob/master/flythru/App/PlayScreen/index.js

I was hoping to use like we do for `<ScrollView>`:

https://medium.com/xebia/linking-animations-to-scroll-po

[2018-04-11 09:53] DanielMSchmidt commented on #22
Sorry for my lack of response @Noitidart

I have honestly no idea, but I would love if you do research on this if you would post your findings here. I am more than happy to accept PRs in this direction 👍

If you need guidance through the internals of this library, feel free to ask :)

[2018-04-11 09:56] Noitidart commented on #22
Thanks so much Daniel. I actually don't have any experience with native. :( I tried to get involved with native side but it was really confusing for me. I'm a pure web guy that came over to web.

I can show example of how to use this js side though would that help? I can write it up tomorrow (2:56 am here right now haha)

[2018-04-11 09:59] DanielMSchmidt commented on #22
@Noitidart I understand the JS side you are talking about, but implementing this requires a good understanding of the React Native bridge. I think you will need to read a lot of Objective-C and Java if you want to have this feature. I think this blog post might be a good start: https://facebook.github.io/react-native/blog/2017/02/14/using-native-driver-for-animated.html

[2018-04-11 10:01] Noitidart commented on #22
Dang, thanks for that link. I struggle with that stuff. :( Maybe I can find some native devs, Ill try to look.

[2018-04-15 19:09] benstoehr opened #97 "then is undefined"
Hello,

I will assume there is something small I'm missing but I can't get my accelerometer to work.

[code]

My error is 'new _reactNativeSensors.Accelerometer({updateInterval:200}).then is undefined'

Thanks

[2018-04-16 07:37] DanielMSchmidt commented on #97
Which version of react-native-sensors are you using?

[2018-04-16 16:33] benstoehr commented on #97
"^2.4.2"

[2018-04-18 18:28] fchenchen commented on #97
Hi, I ran into the same issue today. I solved it by using the Sensor API code on the [npm page](https://www.npmjs.com/package/react-native-sensors).

It seems that `new Accelerometer({updateInterval: 200,})` directly returns an observable instead of a promise in version 2.4.2.

[2018-04-19 12:03] DanielMSchmidt commented on #65
I actually forgot to publish 3.0.0, I did it yesterday, sorry about the ~1 month delay -.-

[2018-04-19 12:03] #65 closed

[2018-04-22 08:06] #64 closed

[2018-04-25 16:51] hifriend21 opened #105 "Error when unmounting component"
For some reason leaving the component throw that error

![image](https://user-images.githubusercontent.com/12772194/39260042-e2bec078-48c0-11e8-82f5-701abf2d574b.png)

Got code from this repo https://github.com/react-native-sensors/RNSensorExample

[2018-04-25 16:53] #78 closed

[2018-04-25 18:03] DanielMSchmidt commented on #105
Thank you for filing this issue. My local RN setup is broken, could you tell me the output of a `console.log(accelerationObservable, gyroscopeObservable)`? Maybe we can find the bug together 🙈

[2018-04-29 10:00] DanielMSchmidt commented on #59
Thank you for helping @maxkomarychev

[2018-04-29 10:00] #59 closed

[2018-04-29 15:27] #97 closed

[2018-04-29 15:28] DanielMSchmidt commented on #92
@Salakar any updates on this? 😇

[2018-05-03 08:28] #16 closed

[2018-05-03 08:28] #41 closed

[2018-05-03 08:28] #11 closed

[2018-05-03 22:37] pashute opened #109 "Documentation lacking which sensors are supported"
Your examples talk only of the **accelerometer** and the **gyroscope**. But the code has the **magnometer** which I assume is the compass (correct?).

What else is supported?

IOS has the following sensors listed (for different versions)

1. Proximity sensor
2.  Ambient light sensor (not in 3G)
3. Camera
4.  Accelerometer
5. Compass aka Magnetometer or Magnetic Field Sensor (After 3GS)
6. Gyroscop

[2018-05-03 22:44] pashute commented on #11
There's a file in the source code called magnetometer. Is that supporting the Magnetic Field Sensor (i.e.) the compass? Is it working or is it just in preparation?

And is this thread which was marked as a feature request and moved by "main" to done 14 hours ago, actually done?  If so, is there documentation for how to use it?

[2018-05-04 06:37] DanielMSchmidt commented on #109
We suppor Accelerometer, Gyroscope, Magnetometer as listed on our website: [index view](https://react-native-sensors.github.io/) lists them and so the [API documentation](https://react-native-sensors.github.io/docs/API.html) as well.

The Apple documentation says about Magnetometer

So this is basically what you get, see [their docs](https://developer.apple.com/documentation/coremotion/cmmotionman

[2018-05-04 06:45] DanielMSchmidt commented on #11
I am super unsure what Magnetometer actually means, could be that we already support compass usage, I have just never had a use-case for it. @NoaneDan should no more, he added it in #62.

The automation moves the tickets automatically when they are closed to done 🤷‍♂️

[2018-05-04 07:53] NoaneDan commented on #11
@pashute The magnetometer is functional an is working exactly like the accelerometer and gyroscope.  The sensor reads the ambient geomagnetic field on axes x, y, z. The values are in microtesla and they give you the device's orientation relative to Earth's magnetic field.

[2018-05-04 07:55] DanielMSchmidt commented on #11
Thank you for taking the time to clairify @NoaneDan 👍

[2018-05-04 15:46] pashute commented on #11
And how do you calibrate the compass if needed, or is that something
outside the access to the sensor itself?

On 4 May 2018 at 10:55, Daniel Schmidt <notifications@github.com> wrote:

[2018-05-04 18:25] maxkomarychev commented on #55
@DanielMSchmidt please don't drop. Cocoapods have many advantages over static linking and it's a natural way to add dependencies into ios project. It is also easier to manage multi-environment app.
I used this library with cocoapods with no issues and also

I never encountered any kind of such issues with any other library.

It's very hard to help without seeing actual error and/or sample project

[2018-05-04 20:40] DanielMSchmidt commented on #55
I don't feel comfortable with supporting this myself, could I just forward issues regarding this to you @maxkomarychev

[2018-05-09 07:58] maxkomarychev commented on #55
@DanielMSchmidt I would be happy to help. It's hard to help in this particular case since there's no details about the error per se or the actual podfile & project config.

[2018-05-09 08:02] DanielMSchmidt commented on #55
Great, that is good to know 👍 I will just close this issue for now and I will have you in my head the next time I hear cocoapods. @Michaelvilleneuve If you have more information for us, please open up another issue 👍

[2018-05-09 08:02] #55 closed

[2018-05-15 08:17] DanielMSchmidt opened #114 "Create an ignite plugin"
We could do that to help newcomers to quickly have a working app with React Native Sensors to iterate on: https://github.com/infinitered/ignite/blob/master/PLUGINS.md

[2018-05-15 09:39] DanielMSchmidt opened #115 "Streamline API by removing promises"
**Is your feature request related to a problem? Please describe.**
Returning a promise from a constructor makes the API harder to use, we can remove this layer of abstraction easily.

**Describe the solution you'd like**
[code]

**Additional context**
This should be a rather small improvement on the JS side of things

[2018-05-15 09:42] DanielMSchmidt commented on #105
@hifriend21 Do you have any updates on this?

[2018-05-15 13:08] maxkomarychev commented on #115
should rather have static method to check which are available

[2018-05-15 13:15] DanielMSchmidt commented on #115
Why would you prefer this?

[2018-05-16 12:00] shokimble opened #116 "Sensor fusion sensor"
**What is the purpose of this sensor?**
Working with raw sensor data from compass, accelerometer, tilt sensors is notoriously bad :)

Rather than having users have to create their own sensor fusion for driftless attitude provide a pre-baked sensor written in Native code for speed. Here's an example in javascript but there's plenty around for java/obj-c

https://github.com/borismus/sensor-fusion

*

[2018-05-17 15:01] padupuy opened #117 "Demo GryoscopeImage does not work"
**Describe the bug**
The demo GryoscopeImage does not work on my *real* iPhone SE (iOS 11.2.1).
The image does not follow the gyroscope movements.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the demo on a real device
2. Move your phone around you

**Expected behavior**
The image has to move

**Desktop (please complete the following information):**
 - React Native Version: 0.55.4

[2018-05-17 15:06] DanielMSchmidt commented on #117
Thank you for filing this bug report! I have a little problem here, I can't test on iOS, as I have no developer license 😢 I can help you debug, but I can't do much more unfortunately. Does the value change in the render method or does it simply stay the same? If it is not there, could you check [here](https://github.com/react-native-sensors/react-native-sensors/blob/master/examples/GryoscopeImage/

[2018-05-18 10:34] #22 closed

[2018-05-19 19:53] DanielMSchmidt commented on #92
@Salakar Did you make progress on your module? Can I help you somehow? I would really love to have some tests 🙈

[2018-05-22 10:32] TimMolenaar opened #122 "Subscribe to Sensor while app is closed"
To begin with: the accelerometer from the react-native-sensors repo works like a charm when the app is running in the foreground or when the app is still open in the background. However, based on the documentation I am not able to figure out whether a certain feature is available, namely persistently subscribe to the accelerometer-sensor when the app is closed. Is it possible to subscribe to a sen

[2018-05-22 10:34] DanielMSchmidt commented on #122
I have never tried that, would love to see that in action somehow, give it a try please 👍 If it works, let's make sure we document it somewhere for the next generations to come :)

[2018-05-23 07:24] renovate[bot] opened #123 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Preset name not found within published preset config (monorepo:angularmaterial). Note: this is a *nested* preset so please contact the preset author if you are unable to fix it yourself.

[2018-05-23 08:21] #123 closed

[2018-05-25 15:56] duongtungls opened #126 "Error when build iOS"
**Describe the bug**
I have error when build on Xcode

[code]
**To Reproduce**
Steps to reproduce the behavior:
I install library and link, and add code like example

`$ npm install react-native-sensors --save`
`$ react-native link react-native-sensors`
`pod 'RNSensors', :path => '../node_modules/react-native-sensors'`

* React Native Version: 55.4
* Mac OS X: 10.12.6
* XCode: 9.2
* Device iPhone

[2018-05-25 16:00] DanielMSchmidt commented on #126
Thank you for your bug report, I will take a look at it this weekend

/remind me about this bug tomorrow

[2018-05-25 17:29] maxkomarychev commented on #126
@duongtungls is your react-native installed via pods or static linking?
this may be relevant https://github.com/oblador/react-native-vector-icons/issues/490#issuecomment-308246423

[2018-05-25 17:31] duongtungls commented on #126
I didn't install react native via pod

[2018-05-25 17:32] maxkomarychev commented on #126
this may be the problem, if you install `react-native-sensors` with pods and use static linking for `react-native` itself then code of `react-native-sensors` won't see type definitions of `react-native`.

either add `react-native` through cocoapods or use static linking for `react-native-sensors`

[2018-05-27 09:52] eyu0415 commented on #126
and the console says
"-[NSError init] called; this results in an invalid NSError instance. It will raise an exception in a future release. Please call errorWithDomain:code:userInfo: or initWithDomain:code:userInfo:. This message shown only once."

[2018-05-27 13:02] maxkomarychev commented on #126
While construct `[[NSError alloc] init]` doesn't really make sense (it may have sense to agree on some convention about error codes to make errors more meaningful) since it doesn't provide any details about the error the originally reported issue have nothing to do with it but a way of integrating `react-native` and other 3rdparty libraries into host project.

@duongtungls please let us know if yo

[2018-05-28 09:27] Zronel opened #128 "iOS flash back"
when i use
new Accelerometer({
    updateInterval: 400
})

[2018-05-28 09:29] DanielMSchmidt commented on #128
Hey @Zronel thank you for the interest in this project! This bug ticket doesn't provide me with enough information to help you, could you please open a new one which follows the template? Thank you 👍

[2018-05-28 09:29] #128 closed

[2018-05-28 09:31] DanielMSchmidt commented on #126
@maxkomarychev It seems like you got this covered, I'll assign you to the ticket 👍 I am currently in the progress of finally getting an iPhone for this project, so by next weekend I might be able to help. If you need me, just ping me ;)

[2018-05-28 09:37] DanielMSchmidt opened #129 "Sensor options overwrite existing ones"
**Describe the bug**
Newer instances of Sensor update intervals change the intervals of existing sensors on Java (maybe also on iOS)

**To Reproduce**
Steps to reproduce the behavior:

[code]

Both a and b will emit every 42ms because we are talking to one underlying API.

**Expected behavior**

First resolution step: Document the current behavior in the README
Second step: Expose a global functio

[2018-05-28 09:58] duongtungls commented on #126
Hi everyone,

Thanks for your help.

Finally I can build for iOS and Android.
Problem reason is `react-native link react-native-sensors` just add more code in Podfile no any change in Xcode project file.
I just need to temporary rename Podfile in ios folder and run `react-native link react-native-sensors` again and rename back Podfile and build success.

[2018-05-28 18:14] maxkomarychev commented on #126
@duongtungls thanks for your feedback! Glad it helped.

[2018-05-28 18:14] #126 closed

[2018-05-28 21:02] DanielMSchmidt commented on #126
@maxkomarychev Sounds like a great idea, could you add an issue for that and document your findings there? I honestly would have no idea to look where I can start :)

[2018-05-31 10:19] barbsicle opened #131 "iOS: Simulator crash on Initialization"
**Describe the bug**
On the iOS simulator, there is no support for sensors. When the API is activated via either method, the entire app crashes with no red box.

After debugging in XCode, I have found the error to be due to this line in `Accelerometer.m` (it is also in the other 2 sensor module files):

[code]

The crashes are caused by the construction of error via `[[NSError alloc] init]`. If we

[2018-05-31 10:22] DanielMSchmidt commented on #131
Hey @barbsicle Thank you for your issue and for the PR 👍

While I like your contribution, in general, could you paint me a better picture of what you are trying to accomplish? From what I know it is impossible to run a simulator with sensor data, so what is the point in making the error not explicit? Also if you did not know this yet, where would be a good point in our README / website / docs so t

[2018-05-31 10:27] barbsicle commented on #131
@DanielMSchmidt: Thanks for the speedy reply. The main objective here is to stop the crash from happening - as it stands, if we were to import the library as-is, we would then not be able to develop at all on the simulator due to the crash.

With regards to the docs, I was not able to find any mention of simulators not working, just one issue I happened across which noted that sensors don't work o

[2018-05-31 10:48] DanielMSchmidt commented on #131
So your goal is to stop the crash so you can develop everything not sensor-related in the simulator? That makes sense, I'll take a look into the PR.

Would you mind doing a small doc PR that mentions the lacking sensor support on all simulators?

[2018-05-31 11:41] maxkomarychev commented on #131
what was the crash reason?

[2018-05-31 13:08] barbsicle commented on #131
@maxkomarychev Sorry for the delay, I had to rebuild on XCode.

The error is `Thread 17: EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)`.

Stacktrace is here (Item 8 is what calls `[[NSError alloc] init]`):
![screen shot 2018-05-31 at 8 06 44 pm](https://user-images.githubusercontent.com/17634303/40783974-54ef4d34-650e-11e8-8638-faf557f173bb.png)

[2018-05-31 13:49] maxkomarychev commented on #131
@barbsicle ok cool, thanks! I'm sorry I made you rebuild whole thing :)

[2018-06-05 06:50] ma-pe commented on #58
This is still an issue. Any news on this? :)

[2018-06-05 07:01] DanielMSchmidt commented on #58
Still would love to see a PR :) Would you like to give it a try @ma-pe? I could guide you through the process 👍

[2018-06-07 07:17] DanielMSchmidt opened #136 "Documentation on examples/GyroscopeImage missing"
**Describe the bug**
There is no documentation in `examples/GyroscopeImage`, which makes it hard to checkout.

**Expected behavior**

There should be something like this:

1. Run `npm install` on the main repo (`/` from this project)
2. Run `npm install` on the example (`/examples/GyroscopeImage`)
3. Start the app like any other react native app (`react-native run-ios` or `react-native run-android

[2018-06-07 20:46] DanielMSchmidt opened #138 "Fix prettier on CI"
**Describe the bug**

Currently we have a problem on CI with prettier, I created this to fix it upstream: https://github.com/keplersj/jest-runner-prettier

[2018-06-14 12:14] #109 closed

[2018-06-14 20:52] benjarwar opened #140 "Warnings about modules requiring main queue setup"
**Describe the bug**
After recently upgrading to React Native `0.55.4`, I've started seeing similar `YellowBox` warnings for three modules:

**To Reproduce**
Steps to reproduce the behavior:

1.  I'm only using the `Accelerometer` in my project
2. `import { Accelerometer } from "react-native-sensors";`
3.  See error in Simulator on app start

**Expected behavior**
Not expecting warnings.

**Deskto

[2018-06-14 20:54] DanielMSchmidt commented on #140
Thank you for this detailed bug report, kudos for taking the time!

It seems like you have pretty much sorted out what needs to be done, would you feel okay with doing also the PR? Would love to guide you through the process if you like

[2018-06-15 08:08] maxkomarychev commented on #140
@benjarwar this is supposed to be fixed by #134
which version of `react-native-sensors` are you using?

[2018-06-15 08:12] maxkomarychev commented on #140
@DanielMSchmidt it worth publishing new version with recent fixes

[2018-06-21 10:32] #114 closed

[2018-06-21 10:32] #88 closed

[2018-06-21 10:32] #105 closed

[2018-06-23 16:22] #117 closed, assigned to nobody

[2018-06-25 20:50] #92 closed

[2018-06-28 12:04] #122 closed

[2018-07-14 08:15] #136 closed

[2018-07-14 21:43] #138 closed

[2018-07-19 13:47] SintraWorks opened #143 "Gyroscope.m causes crash by wrongful initialisation of NSError object."
**Describe the bug**
In Gyroscope.m (in the method [isAvailableWithResolver:rejecter:]), NSError objects are created through [[NSError alloc] init], rather than using the designated initialiser. This causes its internals not to be initialised properly, and can result in a crash if subsequently methods are called on these objects.

E.g. in RCTUtils.m the function RCTJSErrorFromCodeMessageAndNSError

[2018-07-22 17:29] DanielMSchmidt commented on #140
@maxkomarychev pinging again :)

[2018-08-02 07:39] winadiw commented on #143
Yeah i am trying the Gyroscope on iOS simulator and my app got crashed. So i should test on real device?

[2018-08-02 09:02] DanielMSchmidt commented on #143
Which version are you using? This should be fixed,  the problem is that you can not start a sensor on a simulator. Therefore we added a way to check if the sensor is available before instanciating it, If I recall correctly via promise.

[2018-08-03 04:37] winadiw opened #145 "iOS Modal not showing"
**Describe the bug**
Modal is not showing after stopping gyro instance in iOS device. If remove calling the component then the next modal on another component is shown. For Android, it is working fine.

**To Reproduce**
See code below

**Expected behavior**
Modal that is rendered is not showing

**Desktop (please complete the following information):**

* React Native Version: 0.56.0
* Device iOS i

[2018-08-04 18:02] tetreault commented on #65
hey, found this issue after trying to use the library, and running the link command, i still receive `Native modules for sensors not available. Did react-native link run successfully?`. Am new to RN, so am I missing something here?

Its an empty project essentially, with just a header and then using this sensor library.

Misc info:
- "react": "16.4.1",
- "react-native": "0.56.0",
- "react-native-s

[2018-08-04 19:13] tetreault commented on #140
After sorting out my own mistakes with this module I got it working but also receive the yellow box warnings. Not sure how to fix it -- any advice @maxkomarychev @DanielMSchmidt ?

i'm using  `"react-native-sensors": "^3.0.0"` but still have this problem when running my prototype on my iphone X

[2018-08-11 06:59] DanielMSchmidt commented on #115
Still gonna do it when there is time :)

[2018-08-24 22:14] jmichalc opened #147 "Update android gradle build to use "implementation""
Gradle has deprecated the `compile` keyword in favor of `api` and `implementation`:
https://docs.gradle.org/current/userguide/java_library_plugin.html#sec:java_library_separation

`android/build.gradle` uses `compile` in its `dependencies` for react native. The Getting Started guide in `README.md` also mentions `compile` in step 3 for Android. Gradle reports this with every build:

    WARNING: Co

[2018-08-26 10:28] DanielMSchmidt commented on #147
Hey @jmichalc,

Seems like you already did some research, would you like to do a PR for this? I am more then happy to review ;)

[2018-08-27 09:28] mlankenau opened #149 "pressure sensor"
Are there any plans to include pressure (barometric) sensor that is available in iphones >= 6 (not sure about the situation on androids)?

[2018-08-27 09:30] DanielMSchmidt commented on #149
There was an effort, but no one wanted to continue it. If you like, feel free to pick it up 👍  https://github.com/react-native-sensors/react-native-sensors/pull/77

Would be happy to review the PR ;)

[2018-08-27 18:40] cindybin333 commented on #131
Hi, this is still happening. Any updates? @maxkomarychev

[2018-08-27 19:42] cyb3rsalih commented on #140
I only add the react-native-sensors package not even import it. But still see the warnings both for
`Magnetometer` , `Accelerometer` , `Gyroscope`

[2018-08-27 21:45] jmichalc commented on #147
Hi @DanielMSchmidt,

I've created https://github.com/react-native-sensors/react-native-sensors/pull/150 for your review. Thanks!

[2018-09-06 21:38] rickcha commented on #19
What the.. I've been so long time trying to calculate angles out of Gyroscope module .. I thought there's magical formula behind !!! because all values become zero all the time.

Now I am using Accelerometer to get Gyroscope data!!

[2018-09-09 05:53] #145 closed

[2018-09-09 18:30] SintraWorks commented on #143
I understand. Unfortunately, the code that calls RN sensors is not under our control, and I think it would be better for RNSensors to make a check for the availability of the API before trying to use it, thus avoiding a crash.

[2018-09-09 18:31] DanielMSchmidt commented on #143
I think you are right. I have currently not so much time, so it will be hard for me to come up with a fix. If you would send in a PR I would be more then happy to help 👍

[2018-09-09 18:33] SintraWorks commented on #143
I’m in a similar predicament. But I’ll see what I can do.

[2018-09-13 09:07] jan-happy commented on #131
+1

[2018-09-13 09:11] jan-happy commented on #140
+1

[2018-09-13 09:30] jan-happy commented on #131
@DanielMSchmidt here is the fix: [https://github.com/react-native-sensors/react-native-sensors/pull/151](url)

[2018-09-13 09:32] jan-happy commented on #140
@DanielMSchmidt: It's supposed to be fixed here: [https://github.com/react-native-sensors/react-native-sensors/pull/134](url)
But that change is not present in 3.0.0

[2018-09-13 10:48] DanielMSchmidt opened #156 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-13 12:40] DanielMSchmidt commented on #156
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-17 15:49] DanielMSchmidt commented on #156
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2018-09-17 15:57] #156 closed

[2018-09-17 16:19] DanielMSchmidt commented on #140
I now published `3.1.0`

[2018-09-19 13:07] jan-happy commented on #140
@DanielMSchmidt Thanks a lot 👍

[2018-09-25 08:04] abakhtiar opened #162 "App crashes in android version 4.4"
**Describe the bug**
After installation of the package, app crashes in android v.4.4.
* React Native Version: "0.55.4"
* Device 'GT-N7105 - 4.4.2'

[2018-09-25 14:20] DanielMSchmidt commented on #162
Which version are you using?
What does the crash log say?
Can you provide an example app?

[2018-09-26 13:08] abakhtiar commented on #162
**"react-native-sensors": "^3.1.0"**

Actually app only crashes without any information neither in terminal nor debug console.

this is the piece of the code that I am using. Please notice that this code works on android > v.5.0 and only crashes on version 4.4.
`import { Accelerometer } from "react-native-sensors";
//...
		new Accelerometer({
			updateInterval: 350 // defaults to 100ms
		})
			.th

[2018-09-26 15:38] DanielMSchmidt commented on #162
I think best I can do is to not that down for others that we need at least version 5 on android. I won't have the time and energy to debug and fix this for older versions I am afraid. I would be glad to review a PR though

[2018-09-27 10:00] TimMolenaar opened #163 "Accelerometer interval is incorrect on Android"
**Describe the bug**
For my application, the accelerometer-interval is set to 150ms, which means it should produce (6.6\*60\*60) = +- 24000 data points an hour. However, On average the interval is set to approximately 250ms (which means +-15000 points an hour) and for other phones than mine this is 400 to 500ms.

**To Reproduce**
Steps to reproduce the behavior:

1.  Create a react-native project

[2018-09-29 10:01] oriharel commented on #122
Any findings on this issue? I've heard of an Objective-C object called "CMPedometer" which can be used to query all historic motion events. So I don't believe that the app behaves as usual in the background (I have a painful experience with background tasks in iOS) but when launching your app, you can query this object, get all the data that was stored while your app was closed and do stuff with i

[2018-09-29 10:02] oriharel commented on #122
Also - are you talking about Android or iOS? my comment was about iOS.

[2018-10-03 10:09] #149 closed

[2018-10-03 22:34] #147 closed

[2018-10-16 19:31] #143 closed

[2018-10-17 10:29] taewonyara opened #164 "RCTDeviceEventEmitter.emit error iOS"
**Describe the bug**
At this moment of time, I only have access to an iPhone X.
I have been using the accelerometer/gyrometer just fine on both Android and iOS a week back.
At this moment of time, I only have access to an iPhone X, so I'm not sure if this is device specific for iPhone X or if it is an issue with a version change?

Honestly not sure what the cause of the issue is

The error I am cu

[2018-10-22 14:30] EskelCz commented on #19
@DanielMSchmidt Accelerometer and Gyroscope are still reversed. Can we get this reopened? Thank you.

[2018-10-22 14:33] EskelCz opened #166 "Accelerometer / Gyroscope are reversed"
https://github.com/react-native-sensors/react-native-sensors/issues/19 still applies (on ios at least), can we get the issue reopened?
thanks

[2018-10-22 14:38] DanielMSchmidt commented on #19
@rickcha @EskelCz I am sorry for the inconveniences for you. Please be aware that this is an open source project that 100% relies on me having free time to work on it to gain nothing from it, so it's not as high of a priority for me as I would like it to be.

That being said I would love to review a PR fixing this issue (reviewing is something I can easily do on the side, while developing takes lo

[2018-10-22 14:38] DanielMSchmidt commented on #166
Reopened 👍

[2018-10-22 14:38] #166 closed

[2018-10-23 06:15] DanielMSchmidt commented on #19
Okay, I took my vacation time today to double check this, here is my trace:

- Native Code
	- iOS shows [`self->_motionManager startAccelerometerUpdates`](https://github.com/react-native-sensors/react-native-sensors/blob/d0e9431fe82635ee9db95785596f0b5fee81e752/ios/Accelerometer.m#L86) and therefore calls the iOS Framework motion manager directly with the right type
	- Android shows [`(mySensor.ge

[2018-10-23 10:42] EskelCz commented on #19
@DanielMSchmidt Thanks for the investigation. I think I've figured out source of the confusion. It's simply gravity. People expect the values of accelerometer to be 0, 0, 0 when instead they show 0, -1, 0. That initially looks like rotation data, it sort of behaves that way. I jumped the gun as well, sorry for that.

So what is actually needed is an accelerometer data minus gravity, just the user

[2018-10-23 10:46] EskelCz commented on #19
Or simply expose the gravity vector, the subtraction can be done in javascript

[2018-10-24 04:08] DanielMSchmidt commented on #19
That seems like a good idea. As this is a breaking change I will bundle it with the next major version, which will be moving over to the next rxjs version

[2018-10-27 19:06] DanielMSchmidt commented on #163
This seems strange, we just pass the information down to the native components. Reading their documentation the interval is not a hard "you'll get something every x ms" interval, but rather a "please don't give me more then sth every x ms." I think the amount varies with the load on the device (as far as my limited knowledge goes)

[2018-10-29 11:15] TimMolenaar commented on #163
Their documentation indeed mentions that it is more 'request' than 'demand' (if we're both talking about the delay in https://developer.android.com/guide/topics/sensors/sensors_overview#sensors-monitor). However, it is also mentioned that "as a best practice, you should specify the largest delay that you can because the system typically uses a smaller delay than the one you specify". In my case, i

[2018-11-02 16:04] #162 closed

[2018-11-09 19:35] watadarkstar opened #167 "Method does not override or implement a method from a supertype"
**Describe the bug**
`@Override` has been deprecated on android.

[code]

**To Reproduce**
1. Use latest alpha version of React Native (see below - we are using a fork of it)
2. Install this library
3. Run `react-native run-android`

**Expected behavior**
Compiles.

**Desktop (please complete the following information):**

* React Native Version: git+ssh://git@github.com/listicos/react-native.git#

[2018-11-10 10:18] DanielMSchmidt commented on #167
Thank you for filing this issue! It seems to me like you already did some research, would you feel comfortable to do a PR fixing this bug?

[2018-11-10 17:51] watadarkstar commented on #167
@DanielMSchmidt Yeah no problem. I have made a PR here: #168 - please review and merge 😄

[2018-11-23 10:55] #164 closed

[2018-11-28 08:42] #167 closed

[2018-11-28 18:49] DanielMSchmidt commented on #167
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-28 18:49] DanielMSchmidt commented on #19
:tada: This issue has been resolved in version 5.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v5.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-11-28 23:20] DanielMSchmidt commented on #163
This should be fixed in the newest `5.x.x`. It might have been a problem with having multiple Accelerometers overwriting each others updateIntervals. The new abstraction deals with that in a global way, so it's more like the real system.

Please feel free to reopen if you disagree

[2018-11-28 23:20] #163 closed

[2018-11-28 23:32] DanielMSchmidt commented on #149
@mlankenau This feature now shipped in version 5.1.x. I would love to hear some feedback, especially for the iOS implementation

[2018-11-29 10:36] TimMolenaar commented on #163
Hi Daniel, thanks for looking into the problem. Could you provide a little more context on this possible bug? When could this potentially occur?

[2018-11-29 10:57] DanielMSchmidt commented on #163
In pre 5.x.x versions if you have two sensors of the same kind started with different interval values, the last interval value set "wins" and gets used globally

[2018-11-29 11:32] TimMolenaar commented on #163
We only have one 'constant' that creates accelerometer instances, which can be 'started' and 'stopped' by means of a switch. When the switch is enabled, the application creates a new instance of the accelerometer with a fixed updateInterval. When switched off, the stop() command is passed to the acceleration observable. It may be possible that the 'start' command is executed twice, but that still

[2018-11-29 11:36] DanielMSchmidt commented on #163
So yeah, if you call it twice and the interval is changed the latest is used. That's a constraint given by the native implementation and to make sure this is correctly abstracted in the future I introduced the changes for version 5. Please consider switching, your code would be way smaller.

[2018-11-29 11:38] TimMolenaar commented on #163
Allright, but then the bug doesn't seem to apply to this issue, because the updateInterval is never overwritten to a different value.

[2018-11-29 12:54] DanielMSchmidt commented on #163
yes

Not at all, I won't be of any help here :(

[2018-12-01 10:15] quoc1506 opened #173 "Error when build iOS Sending 'NSNumber * _Nullable' to parameter of incompatible type 'double'"
**Describe the bug**
I have error when build on Xcode
`Sending 'NSNumber * _Nullable' to parameter of incompatible type 'double'`

<img width="1397" alt="screen shot 2018-12-01 at 5 11 55 pm" src="https://user-images.githubusercontent.com/13410920/49326953-4cf2b080-f58c-11e8-9d97-7f16a4911d03.png">

**To Reproduce**
Steps to reproduce the behavior:
I install library and link, and add code like exa

[2018-12-01 11:30] DanielMSchmidt commented on #173
Thank you for filing the bug. I currently have no iOS device on my own so it's rather hard to debug for me. Would you feel confident to give this bug a try?

[2018-12-01 13:48] DanielMSchmidt commented on #173
Good to know, would you still like to give it a try?

[2018-12-02 10:00] #173 closed

[2018-12-02 10:02] DanielMSchmidt commented on #173
:tada: This issue has been resolved in version 5.1.4 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v5.1.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-02 10:02] DanielMSchmidt commented on #173
Should be fixed in `5.1.4`

[2018-12-03 03:45] quoc1506 opened #176 "Error when run on iOS & android Simulator"
Step from #173

![screen shot 2018-12-03 at 10 32 08 am](https://user-images.githubusercontent.com/13410920/49351599-cd2d2900-f6e6-11e8-8827-4608ff974bd8.png)

![screenshot_1543808698](https://user-images.githubusercontent.com/13410920/49352021-84766f80-f6e8-11e8-9d73-cb6b18b1e899.png)

[2018-12-03 03:46] quoc1506 commented on #173
Thanks for super fast support @DanielMSchmidt,
I had fixed this issue by my self, also tried your new commit, but I got new bug, reported here #176
Best regard,

[2018-12-03 09:50] iiJoshJenkins commented on #176
I'm getting the same issue running on a real device.

Was just about to to create an issue when I saw this.

[2018-12-03 09:52] DanielMSchmidt commented on #176
Can you give me the JS side code you wrote?

[2018-12-03 10:00] iiJoshJenkins commented on #176
`
import { gyroscope, setUpdateIntervalForType, SensorTypes } from "react-native-sensors";
setUpdateIntervalForType(SensorTypes.gyroscope, 1000);
const gyroscopeSubscription = gyroscope.subscribe(({x,y,z,timestamp}) => {
    console.log(x,y,z,timestamp);
});
`

[2018-12-03 14:53] iiJoshJenkins commented on #176
[code]

Fixes the issue, not sure if it's the best way of doing it though.
But because you export `RNSensors` as an object it can't find `setUpdateInterval` apparently.
I may be wrong but after a lot of playing around I got it working at least.

[code]

[2018-12-03 15:13] DanielMSchmidt commented on #176
I think I don't get you, what did actually work for you? Could you send in a PR, so that I can take a look?

[2018-12-03 15:31] quoc1506 commented on #176
Hi @Daniel Schmidt
I’ve cloned your example KêpTheBallGame ang got this issue

[2018-12-03 15:35] DanielMSchmidt commented on #176
Yeah, this could very well be. There are some workflow issues when working with RN which keeps me from testing a version before pushing it in an efficient manner.

My proposed fix would be to move [this object](https://github.com/react-native-sensors/react-native-sensors/blob/master/src/rnsensors.js#L25) to just be a bunch of exported functions. This would also mean that [this import](https://gith

[2018-12-03 15:40] iiJoshJenkins commented on #176
I can give it a go!

[2018-12-03 15:56] iiJoshJenkins commented on #176
Should be done, created a PR and tested already.

[2018-12-04 13:01] #176 closed

[2018-12-11 13:23] DanielMSchmidt opened #183 "Add minimal setup for e2e tests"
**Is your feature request related to a problem? Please describe.**
It's hard to keep up with all the great OSS PRs while at the same time not breaking stuff for people using this as a platform for their app.

**Describe the solution you'd like**

We should write some e2e tests, maybe with a tool like [jet](https://github.com/invertase/jet), so that we can finally have more stability then manually

[2018-12-11 19:30] sreubenstone commented on #65
I've tried this 100x it doesn't work. Seems expo api is better

[2018-12-11 19:35] DanielMSchmidt commented on #65
@sreubenstone You are free to choose whatever tool you like to :)

If you tell me what you tried and which version of `react-native-sensors` you used I might be able to help 👍

[2018-12-11 19:59] sreubenstone commented on #65
Sorry I am getting frustrated.  I commend you on creating these tools, though I did not succeed to get it working, I might be making a stupid mistake. But I just kept on getting the native modules error.

[2018-12-11 20:00] DanielMSchmidt commented on #65
If you create a repository with the error and create an issue with a link to it, I will take a look and try my best to help you 👍

[2018-12-12 09:48] gonglowbat opened #184 "setUpdateIntervalForType is not a function"
**Describe the bug**
If we try to call `setUpdateIntervalForType(SensorTypes.accelerometer, 100);`, it will error `setUpdateIntervalForType is not a function`

**To Reproduce**
Steps to reproduce the behavior:

1.  Install this library with `yarn add react-native-sensors`, which I got `"react-native-sensors": "^5.1.4"`
2.  Call this in JS and build the app
[code]
3.  See error

**Expected behavior

[2018-12-12 13:55] DanielMSchmidt commented on #176
:tada: This issue has been resolved in version 5.1.5 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v5.1.5)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2018-12-12 13:55] DanielMSchmidt commented on #184
I released `5.1.5` with the fix now, seems like CI jammed up somehow before :/ Thank you for filing the issue.

[2018-12-12 13:55] #184 closed

[2018-12-13 14:43] rom1k opened #187 "Shake device event?"
I'm looking for a way to detect when the user shakes their device to trigger a function. Is there any way I can use this plugin to check for such an event? Which sensor would I use in that case? Some guidance would be much appreciated

[2018-12-13 14:46] DanielMSchmidt commented on #187
Hey, thank you for your interest! If you want to implement a shake I would try to take a look at the accelerometer. I would try to map it into some sort of speed indicator and into a direction indicator and try to check if the speed is above a level and if the direction with that speed changed.

I hope this helps.

I got a question for you: If we had a link to a StackOverflow tag on the readme, wo

[2018-12-14 18:54] renovate[bot] opened #188 "Dependency deprecation warning: travis-deploy-once (npm)"
On registry `https://registry.npmjs.org/`, the "latest" version (v5.0.11) of dependency `travis-deploy-once` has the following deprecation notice:

`We recommend to use Travis Build Stages instead`

Marking the latest version of an npm package as deprecated results in the entire package being considered deprecated, so contact the package author you think this is a mistake.

Affected package file(s

[2018-12-18 13:59] wesdewitte opened #191 "Can't find module: ./src/decorator"
**Describe the bug**
Upgraded from version 4 to 5.
After upgrading its gives me an error that it can't find module ./src/decorator

**Desktop (please complete the following information):**

* sensors version: 5.1.5
* React Native Version: 0.57.7
* Device: android
* Version 8.1.0

**Additional context**
 Body:
    {"originModulePath":"/Users/wesdewitte/Documents/projects/xg-rn-alarm-prototype/node_

[2018-12-18 14:01] DanielMSchmidt commented on #191
Could this be a caching issue? I can't find a reference to `src/decorator` in this project anymore 🤔

[2018-12-18 15:54] DanielMSchmidt commented on #191
Awesome 👍

[2018-12-18 15:54] #191 closed

[2018-12-19 20:43] sergeyshmakov opened #192 "Native modules for sensors not available"
Hi guys! Im trying to setup react-native-sensors with latest (0.57.8) version of react-native. I use a guide from official react-native and react-native-sensors websites.

All steps passed and react-native link runned successfully but I have an error with my expo start for android (red screen) with title "Native modules for sensors not available. Did react-native link run successfully?".

With fir

[2018-12-19 21:48] DanielMSchmidt commented on #183
\cc @dbanck - this is what we could do after the holidays 🎄

[2019-01-01 10:26] mikeattara opened #195 "Add logo to docusaurus website"
Docusaurus has a users page where we showcase projects using Docusaurus. This has the benefits of giving projects recognition and also lets the community and new users reference the creative ways of using Docusaurus.
I would like to add your project if you don't mind.
Kindly let me know your decision asap. Thanks

[2019-01-01 22:54] DanielMSchmidt commented on #195
Please go ahead 👍

[2019-01-02 06:17] dbanck commented on #195
In our [logo repository](https://github.com/react-native-sensors/logo) we have two png logos and the svg versions.

You can use the one which fits best :)

[2019-01-02 08:12] mikeattara commented on #195
@dbanck  I converted the one used in the README.md to svg and used for that.
You can look at it and let me know what you think. I will change it if you want me to. https://github.com/facebook/Docusaurus/pull/1176

[2019-01-08 11:35] Josema opened #196 "Is documentation for installation incomplete or outdate?"
[code]

Actually no idea what react-native link does. The manual version does fit for me. I'm using windows and an Iphone, so I don't have xcode installed.

Any tutorial or guide to use this library with Windows+iOS?

[2019-01-08 13:22] DanielMSchmidt commented on #196
Thank you for filing the issue. I was under the impression iOS does not work together with windows, because you need OSX to have XCode for iOS development.

Could you give me a link to some resources for setting up windows + iOS for React Native, so that I can look into the issue?

[2019-01-08 13:54] Josema commented on #196
I'm using Expo. Using Expo client on my iPhone I can just open the project that I'm executing in my computer via expo cli.

[2019-01-08 14:48] DanielMSchmidt commented on #196
I'm not too familiar with expo, my current understanding is that you can not add native dependencies into it, isn't that true anymore?

[2019-01-08 17:41] Josema commented on #196
Still true:

https://facebook.github.io/react-native/docs/getting-started#caveats

[2019-01-08 17:41] #196 closed

[2019-01-10 21:50] #195 closed

[2019-01-10 21:50] mikeattara commented on #195
Done.

[2019-01-14 11:35] Josema opened #204 "What x,y,z represents in Gyroscope?"
Is the equivalent to Pitch, Roll, Yaw?

Is it in radians?

[2019-01-14 22:11] DanielMSchmidt commented on #204
You can find more information about the sensors in the respective documentation of the sensors themselves. E.g. the [Android documentation](https://developer.android.com/guide/topics/sensors/sensors_motion#sensors-motion-gyro)

[2019-01-14 22:12] #204 closed

[2019-01-15 08:42] Josema commented on #204
I recommend to add that link to the web. And maybe this one also https://developer.apple.com/documentation/coremotion/getting_raw_gyroscope_events

[2019-01-15 11:05] DanielMSchmidt commented on #204
Where should it be put exactly?

[2019-01-15 14:51] wesdewitte opened #205 "unsubscribe doesnt really unsubscribe in the background"
**Describe the bug**
If i subscribe to for example the accelerometer its gives me all the data i need.
But then i want to unsubscribe because i dont need it anymore.
After i unsubscribe on the accelerometer, i can see in the logs it still prints accelero data.
So the accelerometer is still busy which is a waste of battery.

**To Reproduce**
Steps to reproduce the behavior:

1.  subscribe to accele

[2019-01-16 16:00] Josema commented on #204
In here: https://react-native-sensors.github.io/docs/API.html

[2019-01-17 14:40] Josema opened #207 "How to substract the gravity from the values?"
From the API docs

I'm trying to combine react-native-sensors with https://github.com/MaximilianBuegler/node-pedometer but it looks like the data given is not correct for the node-pedometer library, and not sure how to adapt it.
Just wondering if the gravity values included in the output is the reason.

[2019-01-17 16:51] Daniuns commented on #65
Hey Guys, I am new on React Native, could you helpe me? I have just installed the react-native-sensors(Yarn add --save react-native-sensors), then I imported on my project but I receive this message "Native Modules for sensors not available. Did react-native link run successfully?". I did what Tetreault did above, and I runned the command "react-native link react-native-sensors", but the error
sti

[2019-01-17 16:57] DanielMSchmidt commented on #65
@Daniuns Please ask this question on [StackOverflow using the `react-native-sensors` tag](https://stackoverflow.com/questions/tagged/react-native-sensors)

[2019-01-17 16:57] DanielMSchmidt commented on #207
This seems more like a StackOverflow type of question, so I created a `react-native-sensors` tag with this question: https://stackoverflow.com/questions/54240769/how-to-substract-the-gravity-from-accelerometer-values-in-react-native-sensors

[2019-01-17 16:57] #207 closed

[2019-01-18 08:51] nayfusaurus opened #208 "Would like to know what is the type of sensor in my actual phone."
**Is your feature request related to a problem? Please describe.**
I don't know what is the actual make and model of the sensor that is in my actual phone

**Describe the solution you'd like**
A function that queries the actual sensor details, like its type, name, sampling rate, etc

**Describe alternatives you've considered**
Using react-native-bridge to manually query

[2019-01-18 10:13] DanielMSchmidt commented on #208
I'm sorry, but this seems a little out of scope for this project. If you make it an open source library I would be more then happy to link to it from our website / readme

[2019-01-21 09:41] DanielMSchmidt commented on #205
I'm sorry for the late reply. This seems like a real bug, do you think you could research into it? My assumption is that we forget to call [stop](https://github.com/react-native-sensors/react-native-sensors/blob/master/src/rnsensors.js#L42) on the JS side, but worst case could be that we don't handle it properly on the native side.

[2019-01-22 08:32] whekwan commented on #205
@DanielMSchmidt same issues on using the magnetometer. Is it possible to fix it asap?

[2019-01-22 09:31] DanielMSchmidt commented on #205
Sure, if you send a PR I'll be more than happy to review it as quick as possible.
Unfortunately, I don't have the time to do a PR myself at this point in time.

[2019-01-23 09:50] whekwan commented on #205
@DanielMSchmidt Since I am not familiar with Objective-C, it is a bit difficult for me to understand the native code very quickly.
Also, I would like to know how to get the calibrated magnetometer data from the iOS device, the current code is to collect the raw data instead. Thanks!

[2019-01-23 09:55] DanielMSchmidt commented on #205
@whekwan Well, I am familiar with Objective-C, but I lack the time. I'll try to get it done before my vacation mid February though 💪

Please ask this on Stack Overflow, we have a tag for `react-native-sensors there`

[2019-01-23 11:36] mrigo commented on #192
I've the same error. Any news?
Thanks!

[2019-01-23 11:38] DanielMSchmidt commented on #192
Let's put this on StackOverflow. There is already this question, does it fit the setting both of you describe? https://stackoverflow.com/questions/54241096/error-native-modules-for-sensors-not-available-did-react-native-link-run-succe

[2019-01-23 11:38] #192 closed

[2019-01-23 12:03] mujtabazaidi opened #209 "Crash: Sensor barometer is not available"
If the device does not contain a sensor then the app crashes.
Is there any method to check whether the device has a sensor or not?

Log:
[code]

[2019-01-23 13:50] DanielMSchmidt commented on #209
Can you explain to me what you mean by "crash"? It should error the observable.

[2019-01-24 05:01] mujtabazaidi commented on #209
Crash means The app shows red screen. So is there any way that i could check if the barometer exists before subscribing to barometer.

![image from ios](https://user-images.githubusercontent.com/27991787/51655540-008d8500-1fbf-11e9-81c7-e8091aaa7248.jpg)

[2019-01-24 05:36] whekwan commented on #205
@DanielMSchmidt About the calibrated magnetometer data, I have made a PR for adding the new function to collect it from device-motion data, but the unsubscribe issues are still fixing, please take a look about my PR, thanks!

[2019-01-26 10:41] #188 closed

[2019-01-27 03:09] #183 closed

[2019-01-30 17:38] legion-zver commented on #209
+ 1

[2019-01-30 17:40] legion-zver commented on #209
But I'm falling in the release build... Sensor gyroscope is not available!

[2019-01-30 17:40] legion-zver commented on #209
[code]

[2019-01-30 17:42] legion-zver commented on #209
This patch fix my error (use https://github.com/ds300/patch-package)

[code]

[2019-01-31 08:14] jdegger commented on #205
It seems like there is no missing stop on the JS side and if we follow the path it seems to be correct until it's calling `CMMotionManager stopDeviceMotionUpdates`. We are stuck here debugging the issue ourselves. Help would be very much appreciated.

[2019-02-04 09:05] RWOverdijk commented on #205
The listener is probably not removed properly. Is this also a problem on iOS? And, does this also affect the gyroscope? I might look into this later.

[2019-02-04 13:23] RWOverdijk commented on #205
@wesdewitte Could you give me your test code? Saves me time once I look into it :)

[2019-02-13 07:45] wesdewitte commented on #205
Is there already any progress on this issue?

[2019-02-13 20:22] jnystrom opened #217 "Gyroscope data"
I have my ios device sitting on a table, and printing out the x,y,z coordinates and the values are changing even sitting on a table.  Why would these values change when the device is not moving at all?

[2019-02-13 22:05] DanielMSchmidt commented on #217
We just send through the information we get from the native APIs, you might want to filter the data for a certain delta.

[2019-02-13 22:06] #217 closed

[2019-02-14 17:26] jnystrom commented on #217
@DanielMSchmidt ok, but is this something that is normal?  The device sitting on a table but the x,y,z coordinates changing in my subscription handler? I have tried sampling every 500ms and 1 second.

[2019-02-14 17:27] DanielMSchmidt commented on #217
Yes, totally normal, these measurements are not that accurate on a physical level to stay the same for then entire value

[2019-02-14 17:28] jnystrom commented on #217
I am trying to write an app to measure where the sun is located, and seems like I am going to need a pretty accurate reading to be pointing in the correct direction.

[2019-02-14 17:30] DanielMSchmidt commented on #217
Just to be clear, we just forward the data we get from the native side, so you won't get any more accurate data than this.

[2019-02-14 20:27] jnystrom opened #219 "Pitch, Yaw, roll?"
How do I get the pitch, yaw, or roll angles given this lib?  Is there a way to get this data directly, or do I need to go figure out how to calculate this information based on whatever the x,y,z coordinates represent?

[2019-02-14 22:23] jnystrom opened #220 "Heading from magnetometer?"
I am trying to get the direction the device is pointing, is there a way to get the heading from this library?

[2019-02-15 13:26] DanielMSchmidt commented on #220
No, but if you find native apis for this for ios and Android at can add it

[2019-02-15 14:37] jnystrom commented on #220
now way to get this sort of data, like Expo has:  `Expo.Location.watchHeadingAsync();`

[2019-02-15 16:20] DanielMSchmidt commented on #220
Maybe you can ask them, I don't know of any

John Nystrom <notifications@github.com> schrieb am Fr., 15. Feb. 2019,
15:37:

[2019-02-22 07:56] ifokeev commented on #205
same issue here

[2019-02-22 17:21] coder4affine commented on #205
+1

[2019-02-24 09:42] bezblue opened #221 "Magnetometer is not a constructor"
i run example at https://github.com/rahulhaque/compass-react-native-non-expo
but not work
help me pls

[2019-02-24 11:42] #208 closed

[2019-02-25 10:55] aanafalcao commented on #219
I would like to know the same!
This android package is able to provide orientation: https://github.com/kprimice/react-native-sensor-manager. However, it's updates don't seem to work when the device locks down.

[2019-03-01 19:59] benengr opened #222 "barometer sensor not providing any data"
**Describe the bug**
The Observable never fires an event on a Google Pixel 2XL.  It works on an Android Emulator.

**To Reproduce**
[code]

**Expected behavior**
Pressure reading is updated.

**Device Info**
* React Native Version: 58.5
* Device: Google Pixel 2 XL
* Version: 5.1.7

[2019-03-05 12:32] DanielMSchmidt commented on #221
Sorry, this is pretty unspecific and it seems more like a wrong usage. Could you clairify the problems you are running into and put this on StackOverflow with the tag "react-native-sensors" please? https://stackoverflow.com/questions/tagged/react-native-sensors

[2019-03-05 12:33] #221 closed

[2019-03-05 12:34] DanielMSchmidt commented on #209
@mujtabazaidi Can you please show me more code, so that I have more context to work with

[2019-03-05 12:37] DanielMSchmidt commented on #219
You need to figure that out based on what the provided sensors give you. The idea of this library is not to become a toolkit for every use case, but to provide an easy way to work with the raw sensor data on the javascript side of things. There seems to be demand for this kind of solution, so if you would write a package that calculates pitch yaw and roll based on react-native-sensors I would glad

[2019-03-05 12:37] #219 closed

[2019-03-05 12:39] DanielMSchmidt commented on #220
In general the idea of this library is to expose raw data from the device sensors to the JS side of React Native. This is an additional level of information on top of it, that might be derived from raw sensor data. If you like, feel free to write a package that computes what you need based of the data react-native-sensors provides and we can link it in the readme 👍

[2019-03-05 12:39] #220 closed

[2019-03-05 12:41] DanielMSchmidt commented on #222
This seems odd. Does anyone in @react-native-sensors/maintainers has a Google Pixel and might be able to debug this? Otherwise, I have no idea how to look further into this as I don't own the device and it's, therefore, hard to debug for me

[2019-03-05 13:41] dbanck commented on #222
I have a Pixel 2 XL. I'll try to reproduce it

[2019-03-05 20:44] dbanck commented on #222
I'm getting a lot of log output when running a sample app on my Pixel 2 XL:

[code]

And the text component is displaying a pressure changing between `1000.65` and `1000.72`.

Versions I'm using:
* React Native: 0.58.6
* React Native Sensors: 5.1.7

[2019-03-06 13:33] benengr commented on #222
I will retry this today and check the versions that I'm using.

[2019-03-06 13:37] DanielMSchmidt commented on #222
Thank you for your help @dbanck, it's highly appreciated

[2019-03-06 14:08] benengr commented on #222
Sorry for the inconvenience and thank you for your responses.  Turns out that my phone needed to be rebooted and that solved the issue.  I tried other apps before the reboot and they were also not able to read the sensor data.  I'm not sure how my phone got into a state were the barometer wasn't being read, but a reboot solved it.

[2019-03-08 21:19] jorgengranseth commented on #209
@DanielMSchmidt I'm getting the same error when trying to initialise the gyroscope in the same way as in the [GryoscopeImage example](https://github.com/react-native-sensors/react-native-sensors/blob/master/examples/GryoscopeImage/App.js). I just try to run the app on the iOS simulator - I suppose it's not supported there.

[2019-03-08 21:58] jorgengranseth commented on #209
I did som digging in the code and found the [signature for the `.subscribe` function in the RxJS docs](http://reactivex.io/rxjs/class/es6/Observable.js~Observable.html#static-method-create). You can handle the error by passing an error handler:
[code]
Does this solution work for you @mujtabazaidi @legion-zver ?

[2019-03-11 10:56] legion-zver commented on #209
@jorgengranseth error occurs at the time of `import` on devices where the gyroscope is not physically

[2019-03-11 19:16] fchenchen commented on #205
Hi, I believe that I found the issue. It is actually on the Javascript side in the sensor.js file. The stop function is never triggerd. Please see the changes below.

In the original code, it seems like the subscribe function will just return an empty function or the observable will just use the empty function even when it is changed later. I am not sure why. The new way works and stop will be tri

[2019-03-14 08:46] wesdewitte commented on #205
@fchenchen I've tested your work and it does work indeed nice job.

So if someone can make an PR for this:

`function createSensorObservable(sensorType) {
  return Observable.create(function subscribe(observer) {

    this.isSensorAvailable = false;

    this.unsubscribeCallback = () => {

      if (!this.isSensorAvailable) return;

      // stop the sensor
      RNSensors.stop(sensorType);
    };

[2019-03-14 12:29] DanielMSchmidt commented on #205
@wesdewitte you can do a PR by first forking the project. [This article goes over the process in detail](https://help.github.com/en/articles/fork-a-repo)

[2019-03-21 14:44] wesdewitte commented on #205
Here is the PR https://github.com/react-native-sensors/react-native-sensors/pull/227

[2019-03-25 09:05] dileepbolisetti opened #230 "_reactNativeSensors.default.Magnetometer is not a constructor"
**Describe the bug**
_reactNativeSensors.default.Magnetometer is not a constructor
![Screen Shot 2019-03-25 at 2 30 39 PM](https://user-images.githubusercontent.com/8918698/54907232-fc241080-4f0a-11e9-8a3f-43565d032ee6.png)

**To Reproduce**
Steps to reproduce the behavior:

Initialization is failing

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop

[2019-03-25 09:28] DanielMSchmidt commented on #230
[There is a new API](https://react-native-sensors.github.io/docs/Usage.html), so you would do `import {magnetometer} from "react-native-sensors;` now, without the need to run `new Magnetometer()` anymore. This is why we did a major version bump last time 👍

I hope this helps, feel free to reopen.

[2019-03-25 09:28] #230 closed

[2019-04-04 09:58] davidcunha opened #231 "Android app shutdowns while collecting sensors data in background"
Hello,

I've built an app that collects sensors data from accel, gyro and mag with a setUpdateIntervalForType of 10, 10 and 25, respectively. In the mentioned device, after around 8/9min I start to receive notifications about the app consuming too much battery (with full battery) and the app suddenly shutdowns. By the way for the Android devs out there, I added a [foreground service](https://devel

[2019-04-17 12:21] #209 closed

[2019-04-27 15:46] #205 closed

[2019-04-28 03:56] raynor85 opened #234 "typescript support"
**Is your feature request related to a problem? Please describe.**
Nope, it will simply reduce the need of documentation. Is it in the roadmap?

[2019-04-28 15:22] DanielMSchmidt commented on #234
Not yet, but if you send in a PR, I would be more than happy to review it 👍 It would be really cool to have typescript support!

[2019-05-01 10:38] Lelelo1 opened #235 "What is the unit given by the magnetometer?"
What is the unit given by the magnetometer? And is it the same on iOS and android?

[2019-05-01 15:15] Lelelo1 commented on #235
https://forums.developer.apple.com/thread/116222 This library is using should probably not use raw data with [CMMotionManager](https://developer.apple.com/documentation/coremotion/cmmotionmanager?language=objc) on iOS but the calibrated data with [CMDeviceMotion](https://developer.apple.com/documentation/coremotion/cmdevicemotion?language=objc)

[2019-05-03 11:09] Lelelo1 commented on #235
This #210 pull request by whekwan adds readings with CMDeviceMotion and gave me the correct values in μT

[2019-05-10 09:45] TPEmist opened #237 "TypeError: undefined is not a constructor(evaluating 'new_reactNativeSensors.default.Accelerometer({updateInterval:400}')"
### **Error Code**
**TypeError: undefined is not a constructor(evaluating 'new_reactNativeSensors.default.Accelerometer({updateInterval:400}')**

**Code**
[code]

**Desktop (please complete the following information):**
ubuntu 16.04

* Device [real android device]

[2019-05-10 09:51] DanielMSchmidt commented on #237
The API changed in 5.0.0, please see the docs for the upgrading path: https://react-native-sensors.github.io/docs/Changelog.html#500

[2019-05-10 09:51] #237 closed

[2019-05-11 10:58] #231 closed

[2019-05-25 11:50] Lelelo1 commented on #235
The raw data from magnetometer has device bias -which means that onboard hardware interferes with the magnetometer. It is mentioned [here](https://stackoverflow.com/questions/15380632/in-ios-what-is-the-difference-between-the-magnetic-field-values-from-the-core-l) and I have experienced it as well. Using the raw data to for instance get a compass heading - results in a different heading given depe

[2019-05-29 16:14] kenobi91 opened #238 "All three sensors reading"
**Is your feature request related to a problem? Please describe.**
This isn't a problem, rahter it is a question. Is there a way to get data from all three sensors at once (accelerometer, gyro, magnetometer) or is it just enough to set update interval for all three the same value. Like this

setUpdateIntervalForType(SensorTypes.accelerometer, 100);
setUpdateIntervalForType(SensorTypes.magenetomete

[2019-05-29 16:59] DanielMSchmidt commented on #238
Could you put this on StackOverflow with the tag "react-native-sensors" please? https://stackoverflow.com/questions/tagged/react-native-sensors

This I'll answer it there 👍

[2019-05-29 16:59] #238 closed

[2019-06-04 14:32] kenobi91 commented on #238
Hello, could you please answer my question :). I rly think this is something to consider. Thx :)
https://stackoverflow.com/questions/56372582/react-native-sensors-all-three-sensors-reading

[2019-06-04 16:38] #234 closed

[2019-06-06 03:03] MichaelBai commented on #22
@Noitidart  I've developed a RN module which extract device motion event to React Native, and it uses native driver to provide high performance. Hope it helps.
https://github.com/rrd-fe/react-native-motion-event-manager

[2019-06-07 07:18] Kaakans opened #242 "New released not triggered"
**Describe the bug**
Release not triggered on last PR merge: #241

**Expected behavior**
Release should be triggered on commits following the semantic release commit format.

[2019-06-07 08:58] #242 closed

[2019-06-07 09:01] DanielMSchmidt commented on #242
:tada: This issue has been resolved in version 5.2.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v5.2.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-11 09:52] cark1 opened #245 "NSLog in the accelerometer update"
Hi, is it possible to disable the NSLog for the accelerometer in the update event?
It's really annoying having the console flooded by the accelerometer logs, dozens of times a second, while the accelerometer is on.

Thank you!

[2019-06-11 10:53] DanielMSchmidt commented on #245
Sounds good, feel free to open a PR 👍

[2019-06-12 10:51] kirkryan opened #247 "Performance Guidance"
Hi,

Apologies for the high-level nature of this question, and thanks for creating such a great library. We are using this library to detect acceleration in real-time for cyclists and have found that if we setState each update it seems to saturate the react native bridge entirely - causing touch responsiveness of the app to be severely delayed. What is your guidance for:

1) streaming and listenin

[2019-06-12 11:15] DanielMSchmidt commented on #247
Hey @kirkryan,

I love that you are enjoying the library :)
Your use case seems pretty interesting, I would love to see a PR to add it to our [projects list](https://github.com/react-native-sensors/react-native-sensors#cool-projects-using-react-native-sensors).

To your question:

1) You can throttle what the native core sends you by using the `setUpdateIntervalForType(SensorTypes.Accelerometer, 4

[2019-06-12 11:15] #247 closed

[2019-06-13 02:09] mangroovie commented on #247
Same challenges here.
Using redux + redux-persist though for persisting.
- there is a memory buffer on redux for n measurements and after that is filled a server post is triggered and buffer flushed. On failed post persist is reinforced.
500ms interval seems to be the sweet-spot after when UI-starts to lag and even before that some lag is detected

Im investigating now if using rxJS operators to f

[2019-06-16 15:38] amin3mej commented on #88
Is there any update about this issue?

[2019-06-16 17:09] DanielMSchmidt commented on #88
I would still love to see a PR :)

[2019-06-19 04:20] cuongtora1996 commented on #235
@Lelelo1  How can u get the compass heading?

[2019-06-19 16:31] Lelelo1 commented on #235
@cuongtora1996 you can use [react-native-simple-compass](https://github.com/vnil/react-native-simple-compass) for that.

[2019-06-20 02:20] cuongtora1996 commented on #235
Tks you

[2019-06-21 15:13] shahzore-qureshi opened #249 "Magnetometer Spelled Wrong in API"
**Describe the bug**
On the page below, "magnetometer" is misspelt as "magenetometer".

https://react-native-sensors.github.io/docs/API.html

**To Reproduce**
Steps to reproduce the behavior:

1.  Go to https://react-native-sensors.github.io/docs/API.html.

**Expected behavior**
The spelling should be correct.

**Additional context**
What's interesting is that the corresponding page in the gh-page

[2019-06-24 21:37] DanielMSchmidt commented on #249
I think our website does not get deployed correctly, I'm looking into it 👍

[2019-06-29 11:54] sonersivri opened #251 "Pedometer / Step Counter"
**What is the purpose of this sensor?**
Health application for step count

**Is it supported on both iOS and Android?**
Yes

**Is there a way to test this sensor without a real device?**
 No

**Would you be willing to respond to issues / PRs for this sensor?**
Yes

[2019-06-29 20:24] DanielMSchmidt commented on #251
Sounds cool, let's go for it 👍 I'll review your PR. Please make sure to take a look at the other sensors and how they integrate with RxJS :)

[2019-07-04 13:33] EltonR commented on #29
Getting the error too...

[2019-07-04 13:35] DanielMSchmidt commented on #29
@EltonR Could you please open a new issue and provide specific steps you took that got you the error?

[2019-07-05 10:55] upnorth opened #252 "Working example of sensors with latest versions of react-native?"
**Describe the bug**
Fail to run simple example apps with sensors on Android Emulator. The app gets installed on the emulator but fails when run. Both with the linking error and others in java-code.

Been trying these implementations with different versions of dependencies:
https://medium.com/react-native-training/using-sensors-in-react-native-b194d0ad9167
https://react-native-sensors.github.io/do

[2019-07-05 12:14] upnorth commented on #252
I must have missed one or more things in the setup, because with the expo cli and sensors it worked right away. Did a functional version of this: https://akhromieiev.com/tutorials/the-10-popular-expo-sdk-snacks/

It's not using react-native-sensors of course but rather the expo-sensor implementation and expo install for setup. But in case others have similar issues as I've had, I thought you might

[2019-07-06 01:50] ceefour opened #253 "Fix/update to support React Native 0.60+ / AndroidX (error: Native modules for sensors not available)"
**Describe the bug**
Errors with React Native 0.60+:

1. Does not autolink native module (introduced in React Native 0.60). See https://github.com/react-native-community/cli/blob/master/docs/autolinking.md
2. `error: cannot find symbol @Nullable` . Likely because RN 0.60 now uses [AndroidX](https://developer.android.com/jetpack/androidx) instead

**To Reproduce**
Steps to reproduce the behavior:

[2019-07-07 17:37] DanielMSchmidt commented on #253
Thank you for the detailed error report! As you already seem to be in top of the changes made by React Native, would you like to do a PR to fix this?

[2019-07-08 06:07] ceefour commented on #253
Unfortunately I am just beginner RN developer. I am sticking with RN 0.59 for now. Other modules I am using also not yet upgraded to the new mechanism. It is only a matter of time I guess.

[2019-07-10 12:59] DanielMSchmidt commented on #253
For android X we could maybe use this tooling, I'll try it somewhen this or next week: https://github.com/mikehardy/jetifier#do_you_need_this

[2019-07-14 20:11] kirkryan commented on #253
I have this running on Android 0.60.3. You simply need to perform the following:

Edit the build.gradle for react-native-sensors (in node_modules) and add the following dependencies

[code]

Then, go to the src/main/java.com/sensors and for each of the 4 classes (Accelerometer.java, Barometer.java, Gyroscope.java and Magnetometer.java):

Replace:
`import android.support.annotation.Nullable;`
With:

[2019-07-15 13:00] DanielMSchmidt commented on #253
Hey,

Could you maybe send in a PR for these changes? If you add a breaking
change comment in the commit body it will automatically make a major bump

Kirk Ryan <notifications@github.com> schrieb am So., 14. Juli 2019, 22:11:

[2019-07-18 11:38] #245 closed

[2019-07-26 06:37] marcocastignoli commented on #253
Do you confirm that react-native-sensors doesn't work on React Native 0.60?

[2019-07-26 06:54] kirkryan commented on #253
@marcocastignoli - it works now. I submitted a PR that includes the fixes and updated install instructions.

[2019-07-27 03:12] #235 closed

[2019-07-31 22:58] #249 closed

[2019-08-05 22:04] #251 closed

[2019-08-07 15:52] dSurprenant opened #262 "Typo in your doc on the website for the magnetometer"
You put "magenetometer" instead of magnetometer

[2019-08-08 04:48] firofame commented on #11
This is something more appropriate for your need:

https://github.com/firofame/react-native-compass-heading

[2019-08-11 13:30] #252 closed

[2019-08-20 16:31] matt3224 opened #265 "Clean RN project with RNS leads to error"
**Describe the bug**
A clear and concise description of what the bug is.
<img width="501" alt="Screenshot 2019-08-20 at 5 27 55 pm" src="https://user-images.githubusercontent.com/2401925/63365657-f32b5400-c36f-11e9-8ae4-9c10f1bf5e77.png">

**To Reproduce**
Steps to reproduce the behavior:

1.  Spin up a fresh RN project
2.  npm i RNS
3.  Amend the default app.js like the appended file
[App.js.zip]

[2019-08-21 15:46] DanielMSchmidt commented on #265
Did you run `react-native link` after `npm install react-native-sensors`?

[2019-08-21 16:23] matt3224 commented on #265
I did. RN 0.60 says to unlink though, but both ways don't work

[2019-08-23 08:31] ControlAltDel01 opened #266 "iOS Memory leak"
**Describe the bug**
Memory use is going up when subscribed to a sensor, the faster you set the update interval and the more sensors you subscribe to the faster the memory use goes up.
![Skärmavbild 2019-08-23 kl  09 51 35](https://user-images.githubusercontent.com/46895159/63577636-1ed85500-c58f-11e9-9b06-2d08bf175bff.png)

**To Reproduce**
You can use the repo i created:
1. clone https://bitbuc

[2019-08-23 18:18] potatoCharlie commented on #262
True, this caused me 10 min to debug. lol

[2019-08-23 20:47] allthetime opened #267 "Aggressive, unmodifiable NSLog(s)"
./node_modules/react-native-sensors/ios/Accelerometer.m:95

whenever accelerometer (or other sensor) is being listened to, the logs in xcode are spammed with reports about current numbers. There is no way to turn this behavior off. We should have an option to suppress logs.

[2019-08-23 20:51] allthetime opened #268 "unsubscribe does not work."
I am subscribing to accelerometer on iOS a single time, and then calling `unsubscribe` when the component unmounts. You can notice from the xcode logs that the accelerometer is still reporting after the unmount/unsubscribe.

I noticed this was brought up in an issue that has a since merged PR. I am running the new code, but the problem persists.

[2019-08-25 09:04] DanielMSchmidt commented on #268
Normally [this line](https://github.com/react-native-sensors/react-native-sensors/blob/master/ios/Accelerometer.m#L110) should do it 🤔 I wonder why this happens, do you have time to look deeper into this issue?

[2019-08-25 09:05] DanielMSchmidt commented on #267
Hey, feel free to send in a PR to remove / suppress these logs 👍

[2019-08-25 09:13] DanielMSchmidt commented on #266
Thank you for this thorough bug report! I think I found the root cause: [here](https://github.com/react-native-sensors/react-native-sensors/blob/master/ios/Accelerometer.m#L89) we use `updatesToQueue`. I am not sure if we consume that queue by the handler or not, but I think it's the source of the memory leak. Would you have the time to investigate this issue deeper?

[2019-08-26 04:59] CrisHemswerthThor opened #269 "react native 0.60 ios"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-08-26 04:59] #269 closed

[2019-08-26 17:06] DanielMSchmidt commented on #268
Thanks a ton 👍

[2019-08-26 17:06] DanielMSchmidt commented on #267
Thank you for raising this 👍

[2019-08-27 08:26] #266 closed

[2019-08-27 08:29] DanielMSchmidt commented on #266
:tada: This issue has been resolved in version 5.3.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v5.3.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-08-27 09:01] Sakarisson opened #271 "Magnetometer accuracy"
Hello, and thanks for creating and maintaining a great library!

I am currently implementing a direction indicator to the navigation app that I am working on. The `magnetometer` sensor is very useful, and it was quite easy to implement this solution. In case the accuracy of the sensor is not good, I want to be able to tell my users that they should calibrate the compass. However, from what I can t

[2019-08-27 09:58] DanielMSchmidt commented on #271
Well, the roadmap is community driven. If you are willing to invest some time I am sure we can improve this 👍

[2019-08-28 11:38] zolero commented on #271
I've been trying to do this as well but like you said you probably need to calibrate it within Javascript with some sort of algorithm to do so. Seems to be quiet hard from what I read online. For me it resulted in leaving out the compass directions and figure out the direction of their current GeoLocation you're moving towards to detect in which direction you go.

[2019-08-28 17:29] hoonblizz opened #272 "Override supportedEvents method error"
**Describe the bug**
Having react-native-sensors in react-native project, it gets an error in xcode like,

*** Assertion failure in +[RCTEventEmitter initialize](), /Users/*******/Desktop/*******/******App/node_modules/react-native/React/Modules/RCTEventEmitter.m:27
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'You must override the `supportedEvents` me

[2019-08-28 20:43] DanielMSchmidt commented on #265
Hmm, I'm going to need to look into it. If one of you has time to debug this I'm more than happy to review a PR. :) I'm trying to get some time to look into this this weekend ^^

[2019-08-28 21:03] hoonblizz opened #273 "Subscribe doesn't get any value"
**Describe the bug**
Subscribe doesn't get me any value. But I can see values reading in xcode log like,
`startAccelerometerUpdates: 0.203690, -0.303116, -0.889725, 317032.266989`

**To Reproduce**
A bit of code
[code]

**Expected behavior**
I expect that it updates state and popup with some data but nothing happens.

**Desktop (please complete the following information):**

* React Native Version

[2019-08-29 02:24] hoonblizz commented on #273
Just noticed some changes regarding `RCTEventEmitter`.
For testing purpose, I've reverted the recent changes only for Accelerometer (because it's the only feature I'm using now).

ios/Accelerometer.h
[code]

ios/Accelerometer.m line 98
[code]

Then run it again and it works like a charm.
I understand that `RCTEventEmitter` must be implemented because xcode gets me a warning of deprecation.

Any id

[2019-08-29 07:36] ControlAltDel01 commented on #272
I accidently only test my pull request #270 in release so i never saw the errors and crash. So don't use version 5.3.1 and use 5.3.0. If someone can revert my pull request that would be great. I will test my pull request better next time.

[2019-08-29 14:07] hoonblizz commented on #272
@ControlAltDel01 Thank you. I just confirmed that v5.3.0 works great in debug mode. Also, it resolves other issues I've faced.

`npm uninstall react-native-sensors`
then,
`npm install react-native-sensors@5.3.0`
`cd ios`
`pod install`

[2019-08-30 17:59] allthetime commented on #272
@hoonblizz 5.3.0 has a memory leak and the purpose of 5.3.1 was to resolve that.

[2019-08-30 18:13] allthetime commented on #272
@DanielMSchmidt @hoonblizz can you guys please re-open this? I will create a PR later. You have to override 'supportedEvents' in each .m file, as well as importing <React/RCTEventEmitter.h> INSTEAD of <React/RCTEventDispatcher.h>

[2019-09-01 07:19] #253 closed

[2019-09-01 12:50] ControlAltDel01 commented on #272
The memory leak exists in react native when sending messages from iOS to JS. Someone fixed a memory leak in master on react native repo but there seems to be more leaks. I will look at this tomorrow.

[2019-09-03 11:20] jorgengranseth opened #276 "targetSdkVersion on Android is too low"
**Describe the bug**
While upgrading to RN 0.60.5 I got this error while compiling my project:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Set up a project with RN 0.60.5 using `react-native-sensors`
1. `cd android`
1.  `./gradlew build
1.  See error

**Expected behavior**
Not having this error.

**Desktop (please complete the following information):**

* React Native Version: 0

[2019-09-04 20:05] #276 closed

[2019-09-04 20:07] DanielMSchmidt commented on #276
:tada: This issue has been resolved in version 5.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v5.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-05 06:06] Sakarisson commented on #271
@zolero Thanks for sharing your experience. I am afraid that I will omit the direction indicator for now.

I had a look at implementing this. In Android it's very easy - just include the "accuracy" metric. However, in iOS, from what I can tell, the whole code would need to be refactored. Currently the iOS magnetometer reading gives raw values. These readings do not come with an accuracy metric. Th

[2019-09-06 23:18] allthetime commented on #272
@ControlAltDel01 did you find anything? I've been testing this lib extensively the last week trying to get better performance out of it. The memory leak in the native code does seem to be gone, but there is clearly a problem with how it is being consumed with JS. I'm interested if you have any insight. I've been very busy this week but I'm going to dig in a bit over the weekend.

[2019-09-07 21:53] bentorkington opened #278 "Crash on start in iOS when RNSensors pod is installed"
**Describe the bug**
After installing RNS and running Pod, the iOS project crashes on startup in Accelerometer/RCTRegisterModule():

Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'You must override the `supportedEvents` method of Accelerometer'

**To Reproduce**

1.  react-native init Sensors && cd Sensors
2.  npm install react-native-sensors && react-native

[2019-09-09 08:49] nipuna777 commented on #272
Is this issue solved in 5.3.2? I still seem to be getting the same error.

If there is a memory leak in 5.3.0, which do you have a recommended version for us to use until this is fixed? Is there anything I can do to help fix this?

[2019-09-09 13:43] hoonblizz commented on #278
Hi,
`react-native link react-native-sensors` is necessary?
I believe since RN v0.60, link is replaced to auto link by doing `pod install`.
How about trying again without linking?

[2019-09-09 22:17] bentorkington commented on #278
Hi,
Same result if I just `npm install react-native-sensors` followed by `pod install`

[2019-09-14 02:45] kylehassett commented on #278
Does this help at all? Attempting this fix right now.

https://www.gitmemory.com/issue/react-native-sensors/react-native-sensors/272/526697853

[2019-09-14 02:53] kylehassett commented on #278
I believe the above link has the fix.

Just add the...

`- (NSArray<NSString *> *)supportedEvents {
    return @[@"Magnetometer"];
}`

Just change the string for the sensor to the equivalent for each sensor

[2019-09-14 09:10] bentorkington commented on #278
Thanks for that. I'd added the supportedEvents which fixed the crash, but still didn't get it to work. Looks like the link you posted has the answer, will try it soon.

[2019-09-14 09:12] bentorkington commented on #278
This is duplicate of #272, sorry!

[2019-09-14 09:12] #278 closed

[2019-09-16 12:19] fukuball commented on #273
Same issue here, anyone solve this?

[2019-09-18 02:30] rhong7 opened #281 "Got "Thread 1: signal SIGABRT" error on xcode after installing react-native-sensors"
![Screen Shot 2019-09-18 at 12 19 38 pm](https://user-images.githubusercontent.com/50039288/65102688-33353380-da0f-11e9-979c-d9209627b188.png)
It was working successfully when I first initialized the react-native project. But after I installed react-native-sensors, added 'RNSensors' on podfile and ran the command 'pod install' , I'm getting this SIGABRT error. I didn't even import react-native-sen

[2019-09-18 15:10] jayli3n commented on #281
Me too, hoping for a fix asap.

[2019-09-20 08:17] vohoangankhanh commented on #281
I had the same problem, switch to 5.3.0 solved this problem

[2019-09-21 14:12] jayli3n commented on #281
apparently 5.3.0 has unsolved memory leaks etc reading upon previous issues.

[2019-10-01 15:14] julioxavierr commented on #266
Thanks for addressing!

[2019-10-02 18:21] #268 closed

[2019-10-02 18:21] #267 closed

[2019-10-03 19:23] #262 closed

[2019-10-05 00:40] #265 closed

[2019-10-06 15:39] mshtmfv commented on #273
Also, same issue. BUMP!
Seems that this issue is only in version 5.3.2.

[2019-10-06 17:33] AbdelZinir commented on #273
Same issue when the subscribe is on an background JOB, I have this error :

E/SensorManager: registerListenerImpl sensorName:lsm6dsm Accelerometer Non-wakeup,isWakeUpSensor:false,callingApp: com.myapp,callingPid:12440,callingUid:10233

any help please ?

[2019-10-06 20:29] DanielMSchmidt commented on #273
Reading the docs it seems like [we currently use the supported version](https://facebook.github.io/react-native/docs/native-modules-ios#sending-events-to-javascript). Would love to get some help on this issue :)

[2019-10-07 19:00] W3D3 commented on #281
Tried switching to 5.3.0, issue is still there. Hoping for a fix as well.

[2019-10-07 23:18] julioxavierr commented on #272
Have anyone tested if the memory leak occurs when react-native version is below 0.58?

[2019-10-10 14:21] TailNest opened #282 "Can't install the library in react-native >= 0.60"
**Describe the bug**
Cannot properly link the library.

**To Reproduce**
Create a project with a version of react-native >= 0.60. After installing the library and importing it in your code:

`import { magenetometer } from "react-native-sensors";`

the variable `magenetometer` is undefined.

**Additional context**
Since react-native 0.60 has automatic linking I did not follow the steps to link the

[2019-10-10 14:31] #282 closed

[2019-10-12 07:12] #271 closed

[2019-10-28 11:32] geocfu opened #285 "Background functionality Android"
**Is your feature request related to a problem? Please describe.**
When the app is on the background, the sensors stop to emit values.

**Describe the solution you'd like**
A wakelock maybe?

**Additional context**
Tried using this library with the react-native-background-timer which is essentially a wakelock, but the sensors still do not work in the background.

[2019-10-28 23:53] javierjim commented on #253
Is anyone interested in completing this work and start supporting AndroidX? Note what @kirkryan mentioned about not going back once this change is done. We are using this app in our team, and I could help in making a PR to add support for AndroidX. @DanielMSchmidt, thoughts?

[2019-10-31 12:16] geocfu commented on #285
Using the library react-native-background-job fixed the issue.

[2019-10-31 12:16] #285 closed

[2019-11-07 16:54] julioxavierr commented on #272
Not stale

[2019-11-12 21:27] #273 closed

[2019-11-13 07:49] michbil commented on #281
I think this issue should be fixed by [PR](https://github.com/react-native-sensors/react-native-sensors/commit/fcd7338881d9e81658e7f6106bff1155af72c97c). But this change is not present in the latest build on npm (5.3.2)

[2019-11-14 10:09] guopeng1994 commented on #281
which version can use now ?

[2019-11-14 11:24] michbil commented on #281
I ended using github link instead of npm version in package.json
```  "react-native-sensors": "react-native-sensors/react-native-sensors",```

[2019-11-22 10:33] abhiilash opened #290 "Sensor accelerometer is not available in ios"

[2019-11-22 11:15] abhiilash commented on #290
I find out the solution
iOS simulators currently have no support for sensors. In order to retrieve any sensor output, you must develop on a real device

[2019-11-22 11:15] #290 closed

[2019-11-26 14:58] EllenSebastian opened #291 "Please export isAvailable"
**Is your feature request related to a problem? Please describe.**
I want to know when a sensor is unavailable so that I can skip listening on it.

**Describe the solution you'd like**
Export the existing function `isAvailable` so that I can call it.
In index.js:
[code]

**Describe alternatives you've considered**
Until then, I can try/catch.

**Additional context**
My code is like:
[code]

I woul

[2019-11-26 15:01] DanielMSchmidt commented on #291
I think what you want to achieve can be done with

[code]

[2019-12-14 17:55] #272 closed

[2019-12-18 19:13] cristianoccazinsp opened #293 "Questions"
Hello, I'm trying out a few sensor options for RN, I wonder the following:

- Is this maintained?

- Do sensor events fire if the app is in background/suspended? For example, I would like to detect if the user started moving with his phone from a stationary state, and prompt a notification or turn on some services (e.g., GPS) when that happens.

[2019-12-19 10:05] DanielMSchmidt commented on #293
🤷‍♂ What does maintained mean to you? I think PR reviews are done frequently, but as I currently have no real-world use-case for this library I'm not really adding new sensors or other features all the time

If the React Native bridge works if the app is backgrounded/suspended this should also work. There is no logic to stop the sensor sending data through the bridge when sth is backgrounded.

Hop

[2019-12-19 13:32] cristianoccazinsp commented on #293
Thanks, that helps.

The fact you answered and that the lastest commits are not 2 years ago I
think counts as maintained :)

El jue., 19 de diciembre de 2019 07:05, Daniel Schmidt <
notifications@github.com> escribió:

[2019-12-19 14:00] cristianoccazinsp commented on #293
Probably what made me ask it is the fact that there's no RN 0.60 >= references and the install instructions are also for RN < 59.  Nevertheless, gonna give it a try, thanks!

[2019-12-21 12:15] #281 closed

[2019-12-30 23:23] damialajogun opened #294 "Help Please - Gyroscope or Accelerometer?"
Hi everyone,

I am working on a charades-inspired game (just like Heads Up!) where the user tilts their phone down if they guess a word correctly or up to pass. I'm confused about which sensor will work best for this logic. I assume Gyroscope, since that measures rotational changes and I am looking to pull the next card only if the phone tilts up or down, however, when I added this into my code, t

[2020-01-02 11:02] DanielMSchmidt commented on #294
The sensor gives you just the raw data, so just how fast you are tilting, not how much tilt you currently have. If you want to have a "look down" computation you need the values added up over time to see at which state in relative to the start you are. I personally get x,y,z confused all the time, so I would suggest doing the adding for all values separately and logging it to see which one changes

[2020-01-02 16:58] #291 closed

[2020-01-02 22:21] damialajogun commented on #294
Hi @DanielMSchmidt , thanks for responding! I think you might be onto something here, but I'd like to make sure I understand what you're suggesting.

Can you please explain what you're thinking here a bit more? If the values are how fast the phone is tilting (so rates), how does the difference in rates tell me which state I am in? Wouldn't the result be a rate as well? What I'm trying to achieve w

[2020-01-03 13:22] damialajogun commented on #21
Hi @Noitidart , I just downloaded your game (it's pretty challenging, but fun!). I'm also trying to figure out a tilt calculation and wanted to share with you in case you have any insight that can help from your experience with your own app :). I'm building a charades-inspired game where the user tilts their phone down if they correctly guess the word on the screen and then a new word shows (just

[2020-01-03 13:35] Rasmustof opened #295 "SetUpdateIntervalForType broken?"
**Describe the bug**
when attempting to write an app that just displays data from the accelerometer of my phone. the setUpdateIntervalForType function appears to trigger a "TypeError" as shown in the provided screenshot.

**To Reproduce**
Steps to reproduce the behavior:

1.  Copy example code into a project
2. Run app
3. See error

**Expected behavior**
the app should display a text object with a

[2020-01-03 13:37] Rasmustof commented on #295
![Screenshot_20200103-142304_RoadToExam](https://user-images.githubusercontent.com/4243834/71726145-7ab4c380-2e36-11ea-83d5-a1b7887a65f9.jpg)
sorry, i forgot to add the screenshot

[2020-01-03 15:09] Noitidart commented on #21
Hi @damialajogun! Thank you!

My calculations are here - https://github.com/Noitidart/FlyThru/blob/master/flythru/App/PlayScreen/Hole/index.js#L59

[2020-01-03 15:23] DanielMSchmidt commented on #293
👍

[2020-01-03 15:23] #293 closed

[2020-01-03 16:01] DanielMSchmidt commented on #295
I see, we should improve the validation / error messages. If you have time I think this would be a great first PR :)

So the problem is that it has to be `SensorType.accelerometer` (https://github.com/react-native-sensors/react-native-sensors/blob/fa1cb601a795247ca0eb53d24c697c899297da33/examples/KeepTheBallGame/App.js#L11)

Because you have the wrong type there you pass an undefined, which can't

[2020-01-03 16:04] Rasmustof commented on #295
oh yea, that seems right. would be more helpful with a proper error message yes.
as with the PR, im currently making a project for my exam, so i wont be able to work on that now, sadly

[2020-01-03 16:04] Rasmustof commented on #295
but thanks for the quick response

[2020-01-07 02:05] damialajogun commented on #21
Hi @Noitidart, do you mind explaining what this part of your code does? I've been trying to figure it out but can't seem to understand what it means.
![image](https://user-images.githubusercontent.com/53242839/71862511-1b6de200-30c8-11ea-909d-a9c9eb4e58c4.png)
What is the 'roll' variable being calculated supposed to mean? Does that calculate the tilt angle on the z-axis?

[2020-01-13 17:53] fabriziobertoglio1987 commented on #88
I would like to prepare a PR for this issue. I am [reading the documentation for android](https://developer.android.com/guide/topics/sensors/sensors_environment) and I will review the current docs.

[2020-01-23 14:05] eventengineering opened #298 "Accelerometer log spamming"
**Describe the bug**
An unappreciated number of log entries are being output

**To Reproduce**
Subscribe to the accelerometor with a function that can do absolutely nothing, and watch as your log becomes unusable

**Expected behavior**
Respectful amounts of logging: none happening on each read, maybe some on enabling and some on disabling.

**Desktop (please complete the following information):**

[2020-01-23 14:20] DanielMSchmidt commented on #298
Feel free to add a PR to make this conditional 👍

[2020-01-28 10:00] dev-tidbitlab commented on #290
I found that React-native sensors are not working on a real IOS devices.

[2020-02-05 15:30] eventengineering commented on #298
I don't think this even needs to be conditional: if someone wants to log it out, they can in the listener, there's no need for a package to log so verbosely except when developing.

[2020-02-05 17:11] DanielMSchmidt commented on #298
I disagree. If for whatever reason the message bus between native and js is clogged one can without a log not see if the emitter still emitted events

[2020-02-05 18:26] eventengineering commented on #298
I see your point, but I have no idea about how to go about adding a conditional flag or how you would want the conditional flag to even work. Unfortunately, the verbose logging at present makes this package unusable.

What should the default option be? My recommendation is for it to be off for normal operation as every log in RN slows the app down and ordinarily in a live environment you won't nee

[2020-02-05 21:24] DanielMSchmidt commented on #298
I think something similar to `setUpdateIntervalForType`, so maybe `setLogLevelForType` would be a great API, defaulting to not logging anything.

[2020-02-09 00:01] #294 closed

[2020-02-09 16:22] #295 closed

[2020-02-23 04:33] SnaiNeR commented on #298
there is already rejected PR [https://github.com/react-native-sensors/react-native-sensors/pull/246](https://github.com/react-native-sensors/react-native-sensors/pull/246)
i will reply here too,

[2020-02-24 10:29] DanielMSchmidt commented on #298
As I said, I'd like native logs to be configurable

[2020-03-03 16:18] eventengineering commented on #298
You've requested "log level", so I'm aiming for the following:

0: no logging
1: normal level of logging, nothing too verbose
2: log everything

Specifically, the log line that happens with every reading is restricted to the second level.

These are easily changeable in the future.

[2020-03-03 18:48] DanielMSchmidt commented on #298
Sounds great 👍

[2020-03-05 05:55] borisfuture128 opened #302 "Accelerometer subscribe doesn't give right data"
I tried to get sensor data using Accelerometer.
But

                                  accelerometer.subscribe(
					({ x, y, z }) => {
						this.setState({
							x: x,
							y: y,
							z: z
						})
					},
					(err) => {
						this.setState({ error: err })
					},
				);

this is code.
it gives dynamic values, x, y, z.
But they are different from log of native ios.
As a result, can't use t

[2020-03-05 06:21] borisfuture128 commented on #302
my react native version is 0.46.1

[2020-03-05 07:26] borisfuture128 commented on #302
I tried demo gyroscopeimage as well

[2020-03-05 07:26] borisfuture128 commented on #302
but it didn't work:(

[2020-03-05 15:26] DanielMSchmidt commented on #302
Can you explain how the values are different from the log? How did you get the native log?

[2020-03-09 09:20] eventengineering commented on #298
Problem being "no environment variables set" bug with Travis-ci.

[2020-03-09 13:16] jrz opened #305 "Compile error ios"
Compile error in the just-released version in Barometer.m:

NSLog(@"Updated altitue value: %f, %f", altitudeData.pressure.doubleValue, timestamp);
->
NSLog(@"Updated altitue value: %f, %f", altitudeData.pressure.doubleValue, **altitudeData.timestamp**);

[2020-03-10 15:26] borisfuture128 commented on #302
by Xcode

[2020-03-11 15:37] #305 closed

[2020-03-11 15:39] DanielMSchmidt commented on #305
:tada: This issue has been resolved in version 5.4.1 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v5.4.1)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-03-15 17:00] SnaiNeR commented on #298
good job @eventengineering

[2020-03-25 13:42] yesIamFaded opened #311 "Is there a Heartbeat sensor?"
Hi guys,
I have a question or request if its not implemented yet.
On my Samsung S9 next to the camera I have a Fingerscanner that can tell me my heartrate for example.

I want to build a small FitnessApp and I would like to use this heartbeat detection.
Can I somehow get access to this sensor by using this package? OR maybe anyone knows how to access it?
Ty - Stay Safe 😷

[2020-03-25 15:59] DanielMSchmidt commented on #311
I think there is:

- [iOS](https://developer.apple.com/documentation/healthkit/hkheartbeatseriesquery)
- [Android](https://developer.android.com/reference/android/hardware/Sensor#STRING_TYPE_HEART_RATE)

Would you be interested in adding it to React Native Sensors? Would be happy to review a PR :)

[2020-03-26 07:42] yesIamFaded commented on #311
Honestly I wouldnt even know how to do it.. :D

So just to be clear the module currently doesnt provide this feature and I would have to tackle some native java code right?

[2020-03-30 08:11] yesIamFaded commented on #311
hello? 😟

[2020-03-30 08:28] DanielMSchmidt commented on #311
Yes, the current module does not provide this feature and if you want to enhance `react-native-sensors` you would need to write Objective-C and Java code. If you just want to solve this in your codebase java code should be enough

[2020-03-30 09:26] yesIamFaded commented on #311
@DanielMSchmidt alright ty - do you know if there is a guide or something to this?

[2020-03-30 11:20] DanielMSchmidt commented on #311
I linked two [above](https://github.com/react-native-sensors/react-native-sensors/issues/311#issuecomment-603924893)

[2020-03-30 11:27] yesIamFaded commented on #311
Aight thanks again, I am going to close this then.

[2020-03-30 11:27] #311 closed

[2020-04-14 21:58] #298 closed

[2020-04-17 01:15] #302 closed

[2020-04-29 11:32] Dinkelborg opened #314 "SetUpdateIntervalForType results in: Cannot read property 'toLocaleLowerCase' of undefined"
**Describe the bug**
Using setUpdateIntervalForType in a functional react-native component
results in the error:
"Cannot read property 'toLocaleLowerCase' of undefined"

Without setting the interval everything works as expected but debugging is difficult (too many console logs slowing down the machine)

**To Reproduce**
[code]

* React Native Version: 0.62.1
* Device: Huawei P30 / Dev Machine: Mac

[2020-04-29 11:51] Dinkelborg commented on #314
The Issue lies in the SensorTypes - or rather in the example on the [Website](https://react-native-sensors.github.io/docs/Usage.html)
In the example you write:
`SensorTypes.Accelerometer `
but if you console.log(SensorTypes) every property is witten lowercase like:
`SensorTypes.accelerometer`

[2020-04-29 15:03] organom commented on #78
Did a fix to this issue in a fork. Should i pull request?

[2020-05-05 20:03] gypsicoder commented on #251
@sonersivri  Can we get step count history using this package like google fit?

[2020-05-08 10:41] apgsn opened #317 "Jest doesn't render the app"
Hi,
I'm working on a React Native app (v. `0.62.2`, no Expo) which will use the v. `5.4.1` of React Native Sensors.
To test things out, in `App.js` I added the [usage sample code](https://react-native-sensors.github.io/docs/Usage.html) to a `useEffect` hook which only runs on mount/unmount, and after a small fix (using `SensorTypes.accelerometer` instead of `SensorTypes.Accelerometer`) the app is

[2020-05-15 16:34] rozekfr opened #319 "Ambient Light Sensor"
**What is the purpose of this sensor?**
I would like to use a sensor to detect lighting conditions. Based on these conditions, I would like to change the graphics of the application from light to dark mode something like Google Maps for navigation.

**Is it supported on both iOS and Android?**
I am using react-native-sensor-manager for detecting ambient light on Android. You mentioned this library

[2020-05-15 16:48] DanielMSchmidt commented on #319
Hey, yeah that sounds like a good thing to add.

- There is an android implementation: https://developer.android.com/reference/android/hardware/Sensor#TYPE_LIGHT
- We have testability on the android side: https://stackoverflow.com/questions/40143578/is-the-current-provided-android-emulator-able-to-simulate-the-sensors
- It's not testable in iOS as far as I see: https://www.browserstack.com/test-on

[2020-05-20 10:27] organom opened #320 ""Closed by stale bot" without even being reviewed"
**Describe the bug**
Stale bot is constantly closing issues (**102** closed and marked as stale) and PRs without an obvious option to reopen and no one reviewing or looking into them.

**Expected behavior**
If the developer team limited amount of time for the project, then marking as stale and closing times for stale bot should be incremented accordingly.
No issue/PR should be automatically closed

[2020-05-20 10:36] organom commented on #78
@DanielMSchmidt PR provided -- Consistent timestamp accross ios/android #318

[2020-05-20 15:29] DanielMSchmidt commented on #78
Sorry, the PR fell through the cracks, thanks a lot for the help!

[2020-05-20 15:30] DanielMSchmidt commented on #78
:tada: This issue has been resolved in version 6.0.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v6.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-05-20 15:32] DanielMSchmidt commented on #317
I don't think we support this currently, I would advice you to [mock](https://jestjs.io/docs/en/manual-mocks) the API for unit tests. I hope this helps, if not feel free to reopen :)

[2020-05-20 15:32] #317 closed

[2020-06-06 09:09] #314 closed

[2020-06-28 13:25] organom commented on #319
this is still relevant

[2020-06-28 16:47] #320 closed

[2020-07-15 03:43] lundara opened #323 "Can I disable device motion ?"
Can I manage device motion on/off  ?

[2020-08-03 11:50] skizzo commented on #219
`react-native-sensory-manager` doesn't work for RN >= 0.61.5. Is there any way to find out yaw, pitch and roll for Android devices at this point? Thanks!

[2020-08-05 10:58] Serzhs opened #327 "Bridge is not set"
When I reload app I get this error:
[code]

"react-native": "0.62.2",
"react-native-sensors": "^6.1.0",

My code:
[code]

When I Downgraded to 5.2 it seems to work now, when I made little experiment, I concluded thet last working version was 5.3.0

[2020-08-05 12:17] reinismu commented on #327
It could be something related to https://github.com/react-native-sensors/react-native-sensors/pull/270

[2020-08-16 20:24] DanielMSchmidt commented on #319
Still relevant, right @organom?

Do you see a chance to devote any time into a PR for this?

[2020-08-16 20:25] DanielMSchmidt commented on #323
What do you mean with managing motion off? The accelerometer tracks motion, so if you don't use it you should be fine if you mean you don't want the data

[2020-08-20 10:30] organom commented on #319
@DanielMSchmidt I looked briefly into it and hit the Apple API that could bring apps to be rejected on the app store, need to invest some more time researching around that API, hopefully we can read the values (there or somewhere else). In the android side it seems trivial. Will try to invest time into it in a near future :)

[2020-08-20 17:00] DanielMSchmidt commented on #319
Awesome @organom 🎉 I mean we would not want our users be rejected just for having the code in, but one would old be if it's used, right?

[2020-08-23 05:07] narthanan24 opened #335 "Is it possible to update the sensor values when the app is running on the background?"

[2020-08-23 20:57] DanielMSchmidt commented on #335
I have not tried it myself, but maybe this old comment is of help for you: https://github.com/react-native-sensors/react-native-sensors/issues/285#issuecomment-548344218

[2020-08-24 02:12] narthanan24 commented on #335
I have tried the react-native-background-job library, it's working fine for android and not support for IOS(As stated in its document). Do you have any idea how to make it work on iOS?

[2020-08-24 07:47] DanielMSchmidt commented on #335
This library lists the limitations of background support for ios and afaik this is a universal react native limitation, not a library one: https://github.com/transistorsoft/react-native-background-fetch

[2020-08-24 12:25] organom commented on #335
From my experience in the last months, the Background application kill on iOS is just the way the OS works and not related to only react-native.

Basically when an application is not the one in the screen it gets suspended. If background mode is activated, it is allowed 30 seconds (in iOS13) of execution time right after being sent to the background, if the app is still processing after that it ge

[2020-08-24 15:35] spamingdnl commented on #319
I've been looking arround and I couldn't find any npm package implementing the Light Sensor on Android on React Native 0.60+.
This feature would be very usefull for me and the React Native community I think. I tried to write it myself on android with NativeModule but I'm a beginner and understand  nothing about writing Native Module

[2020-08-27 08:32] narthanan24 commented on #335
Thanks for the response @organom.
Here is my code which I have gone through with [react-native-background-fetch](https://github.com/transistorsoft/react-native-background-fetch)

`componentDidMount() {
        BackgroundFetch.configure({
            minimumFetchInterval: 15,
        }, async (taskId) => {
            this.startSensorReading()
            BackgroundFetch.finish(taskId);
        },

[2020-08-31 14:00] willnaoosmit commented on #335
sorry for asking it here, but it's possible to change the sensor values or its possible to only read them?

also, [here's](https://medium.com/reactbrasil/how-to-create-an-unstoppable-service-in-react-native-using-headless-js-93656b6fd5d1) how to make the app run on background using java on a native module

[2020-09-04 06:27] emurigar opened #339 "Help please to do a subscription.unsubscribe()"
Hi,

I'm working on the react-native versions 0.63.1 (no Expo) which I use the 7.0.0 of React Native Sensors.

 I'm try to do a subscription when the user enter in a screen and make a unsubscribe when the user leave the screen and go to another one, but I don't know how can I stop the accelerometer. I tried several ways to do it, but I didnt get it, my las code is the following

[code]

[2020-09-10 04:54] ethanneff opened #342 "Remove rxjs as a dependency?"
**Is your feature request related to a problem? Please describe.**
`rxjs` from `react-native-sensors` is currently 8.1% of my app's JS bundle size. This is quite massive considering all my other react native libraries are quite small.

<img width="1925" alt="Screen Shot 2020-09-09 at 10 04 07 PM" src="https://user-images.githubusercontent.com/2933593/92683703-6d66a780-f2e8-11ea-897d-324647198139.p

[2020-09-11 15:31] taboulot commented on #335
It seems that there is no solution on Android for capturing accelerometer and gyroscope events in background. The [doc](https://developer.android.com/guide/topics/sensors/sensors_overview#sensors-practices) say that it is not allowed since Android 9 (released in 2018).

[2020-09-11 17:12] organom commented on #335
don't understand this point, what would be the usecase to change the sensor value? In general for sensors it only makes sense to reading them :)

[2020-09-11 18:33] willnaoosmit commented on #335
@organom let's say i developed a step-counter app, using the acellerometer data.

There's some rumors on Stackoverflow (And other places) that a bad-developed app, can think the phone shaking left and right it's an actual step.

So i wanted to know if it's possible to change the sensor data, or if it's read-only.

I think this question can create a thread, so, i'm creating a new issue. Sorry

[2020-09-11 18:35] willnaoosmith opened #343 "Is it possible to update sensor values?"
let's say i developed a step-counter app, using the acellerometer data.

There's some rumors on Stackoverflow (And other places) that a bad-developed app, can think the phone shaking left and right it's an actual step.

So i wanted to know if it's possible to change the sensor data, or if it's read-only.

[2020-09-12 19:38] #327 closed

[2020-09-24 09:28] o16-waqas opened #344 "Supporting additional sensors like RotationRate, Attitude and Device Orientation"
**Is your feature request related to a problem? Please describe.**
- Is it possible to support the additional sensors values like **RotationRate**, **Attitude**, **Device Orientation**?

**Describe the solution you'd like**
- Like the currently supported sensors Gyroscope, Accelerometer, Magnetometer, Barometer, Above mentioned sensors can also be supported

**Describe alternatives you've consider

[2020-09-24 11:57] DanielMSchmidt commented on #344
Hey @o16-waqas, love it!
Please keep in mind that one of the strict rules of this project is that each sensor need to be supported for both iOS and Android. As long as your PR contains both implementations I am more then happy to review it and get it in 💪

[2020-09-30 20:02] DanielMSchmidt commented on #342
Totally open to this 👍 If you have the time, please send a PR :)

[2020-09-30 20:03] DanielMSchmidt commented on #339
Sorry for the late response, what do you mean with it is not stopped?

[2020-09-30 20:06] DanielMSchmidt commented on #343
With this library you definitely can not change the sensor data and no official API allows it, as far as I have seen. So the answer from my perspective would be no, although I can not completely rule it out.

[2020-09-30 20:06] #343 closed

[2020-10-01 06:47] emurigar commented on #339
Hi @DanielMSchmidt  thanks for answering. My problem is I don't know how to make the unsubscribe if I write the `subscription.unsubscribe()`in different method that I initialize the `subscription`.

I use subscription method when I enter a screen and I would like to use unsubscribe method when I leave it

Thanks!

[2020-10-01 07:38] DanielMSchmidt commented on #339
Oh now I get it, thank you 👍 I think this should work, made a small improvement to guard against subscriptions not being initialized yet.

[code]

[2020-10-02 09:42] emurigar commented on #339
Thanks @DanielMSchmidt I just tried it and it was resolved!!

Regards!!

[2020-10-02 09:42] #339 closed

[2020-10-04 02:20] #323 closed

[2020-10-04 09:06] organom commented on #319
Still didn't had time to look into it :( hopefully will manage to get some time soon

[2020-10-20 12:18] bobdelgreco opened #346 "react-native-sensors Error: Native modules for sensors not available. Did react-native link run successfully?"
https://stackoverflow.com/questions/64437070/react-native-sensors-error-native-modules-for-sensors-not-available-did-react

Thanks for any help, getting error message "Error: Native modules for sensors not available. Did react-native link run successfully?" when running npx react-native start

npx react-native run-android gives this error: > Task :app:processDebugManifest FAILED right after instal

[2020-10-24 08:28] #335 closed

[2020-11-08 11:04] organom commented on #319
unstale :) will look into this

[2020-11-08 11:06] organom commented on #342
unstale

[2020-11-08 11:07] organom commented on #344
unstale

[2020-11-12 13:53] Mabus00 opened #348 "BasicSensors troubleshooting"
**Describe the bug**
When I run BasicSensors using my android device to display the results, the accelerometer, gyroscope and magnetometer values change very rapidly for about 5 seconds, then they slow down, then they change rapidly again, settle and everything freezes.  i get no error messages.

**To Reproduce**
Install and run it.

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.

[2020-11-20 20:04] ghirihari commented on #346
I encountered the same problem. This occurs because react-native-sensors has a minsdk version is 17 and react-native's default minsdk version is 16 Its quite easy to solve.

 1. Just go to **android/build.gradle**
 2. Change **minSdkVersion** to anything above 17

Before

     ext {
        buildToolsVersion = "29.0.2"
        minSdkVersion = 16
        compileSdkVersion = 29
        targetSdkVers

[2020-12-09 18:41] iamrraj opened #351 "How to get G-force, Harsh Braking and Acceleration when i have x,y z data?"
Hello, I have got raw data x, y z but I don't know how to calculate G-force, Harsh Braking, and Acceleration. i am developing an app where I need to gather data of Harsh Braking, and Acceleration, So can you please help me to find a way to calculate.

Thanks

[code]

[2020-12-11 11:16] royderksroute42 commented on #327
Hi,

I've also encountered this problem.

"react-native": "0.64.0-rc.1",
"react-native-sensors@^7.0.2 (7.02 in lockfile)"

All .m files seem to explicitly synthesize the bridge, and they aren't allowed to do this anymore apparently, as it's inherited.

[2020-12-15 16:12] DanielMSchmidt commented on #351
I don't think this is directly an issue with this library is it? Maybe asking this question on stack overflow in a more general way is helpful. The X Y Z data is straight what the iOS / Android sensor returns so searching for answers in the iOS / Android realm would probably yield the best results.

Hope you find a good solution, closing this issue for now, feel free to repoen if it turns out to b

[2020-12-15 16:12] #351 closed

[2021-01-20 15:00] deLTreeTech commented on #290
I have wasted a lot of time on this. Accelerometer reading on iOS is very wrong compare to Android even when I perform the same action on both

[2021-01-20 16:57] deLTreeTech commented on #26
Thanks @lihue . This really save my time.

I just did to remedy the challenge.

`const az = accelerometer.aZ * (Platform.OS === 'ios' ? 9.8 : 1);`

[2021-02-05 09:12] kirkryan opened #353 "Different values between iOS and Android?"
**Describe the bug**
When displaying the accelerometer values in the demo code, iOS reads around -10 when placed static on a desk, and android reads 0 when placed the same.

**To Reproduce**
Steps to reproduce the behavior:

`const subscription = accelerometer
  //.pipe(map(({ x, y, z }) => x + y + z), filter(speed => speed > 20))
  .subscribe(
    speed => console.log(`You moved your phone with $

[2021-02-08 16:21] DanielMSchmidt commented on #353
I wonder if this could be related to the issue mentioned here: https://github.com/react-native-sensors/react-native-sensors/issues/26#issuecomment-763784947

[2021-02-08 17:04] kirkryan commented on #353
Ah! Yes, that's it indeed. I added the ternary multiplication at the end to do the conversation - is it worth adding this as a footnote in the instructions to prevent others from getting confused?

[2021-02-08 17:20] DanielMSchmidt commented on #353
I think it would be best to fix this Inside the Library, would you have the
time to do a PR?

Kirk Ryan <notifications@github.com> schrieb am Mo. 8. Feb. 2021 um 18:04:

[2021-02-08 17:45] kirkryan commented on #353
Sure!

Kirk Ryan

Co-founder & Technical Director

BUSBY - NEVER ALONE

Sent from Outlook mobile

________________________________
From: Daniel Schmidt <notifications@github.com>
Sent: Monday, February 8, 2021 5:21:12 PM
To: react-native-sensors/react-native-sensors <react-native-sensors@noreply.github.com>
Cc: Kirk Ryan <Kirk@busby.io>; State change <state_change@noreply.github.com>
Subject: Re:

[2021-02-09 13:34] kirkryan commented on #353
Hi, I just realised that the code is not javascript, I am not familiar with swift or java so will struggle with this request for a PR.

[2021-02-09 14:37] DanielMSchmidt commented on #353
You could solve it in JS if you want, should be doable via a map on the
observable switching the multiplication. Not an ideal solution, but as long
as it's inside this library that should be good enough

Am Di., 9. Feb. 2021 um 14:35 Uhr schrieb Kirk Ryan <
notifications@github.com>:

[2021-02-12 13:40] CharlesMangwa commented on #317
For anyone would ended up in this issue and just wants a fast copy/paste, I quickly came up with this based on [the TS interface](https://github.com/react-native-sensors/react-native-sensors/blob/390b56150f7abe6055943f5b2758dcf5293ae8e0/index.d.ts):
[code]

[2021-02-12 13:40] CharlesMangwa commented on #317
For anyone who ended up in this issue and just wants a fast copy/paste, I quickly came up with this based on [the TS interface](https://github.com/react-native-sensors/react-native-sensors/blob/390b56150f7abe6055943f5b2758dcf5293ae8e0/index.d.ts):
[code]

[2021-02-12 14:37] griffhurt opened #355 "Common Units for Acceleration"
**Is your feature request related to a problem? Please describe.**
I'm currently developing an app that needs to measure the total amount of G-Force on the user on both iOS and Android devices. Upon reading the documentation for iOS accelerometer data [here](https://developer.apple.com/documentation/coremotion/getting_raw_accelerometer_events) and the Android documentation for accelerometer data [

[2021-02-18 20:12] DanielMSchmidt commented on #317
That's cool @CharlesMangwa can you do a PR to the readme so it's easier to find for newcomers?

[2021-02-18 21:14] kirkryan commented on #353
Ah- this at first appearance seemed to be the same issue, however, it's actually iOS includes gravity (-9.81m/s) and android does not.

[2021-02-19 12:02] CharlesMangwa commented on #317
Sure thing, can do! Do you think it should be added to the README or somewhere on the website? Seems like all the library docs are there. Just lemme know what would be preferable in your opinion.

[2021-02-23 14:49] DanielMSchmidt commented on #355
Thanks for opening an issue! I would love to see a PR, I think there are lots of other folks running into this issue 👍

[2021-03-05 19:02] Maximvdw commented on #319
would also be very much interested in this +1

[2021-03-11 16:31] anutting commented on #319
Also interested in using this if it ends up being implemented

[2021-03-23 19:40] amirhmk opened #376 "Calibrated Sensor Data"
**Is your feature request related to a problem? Please describe.**
I have installed and started using this module for a product that I'm working on, and it works seamlessly and was quite easy to setup. However, it seems that the sensor data are raw data that are coming from the sensors, and it's not performing the calibration that the native module offers (i.e. excluding gravity). In iOS this is d

[2021-03-24 15:01] DanielMSchmidt commented on #376
Seems to make sense, it seems like it would make sense to expose both types of data though, there might be folks that are interested in the raw data. Would you have the time to do a PR?

[2021-03-24 22:19] amirhmk commented on #376
Yep for sure, I think it has to be a choice.

Sure, will try to take a stab at this this week 😄

[2021-03-25 08:33] chen8717868 opened #377 "null is not an object (evaluating 'api.setUpdateInterval')"
Upgraded from 0.59 to 0.63.0 for React - Native
Null is not an object (evaluating 'api. setupdateInterval ') using react-native-sensors methods

[2021-03-30 02:23] chen8717868 commented on #377
After configuring the react-native-sensors environment, it will report an error when used in the updated version 0.63.0
Null is not an object (evaluating 'api.setupdateInterval ').

[2021-03-30 08:13] roberto-buratti opened #380 "Heartrate sensor"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `react-native-sensors@7.2.0` for the project I'm working on.

Here is the diff that solved my problem:

[code]

[2021-04-01 02:12] chen8717868 commented on #377
Because didn't see there are new in the MainApplication RNSensorsPackage (), but add new RNSensorsPackage () after an error canOverrideExistingModule = true

[2021-04-02 09:30] the-one-jay-301 opened #381 "react-native-orientation-locker OrientationModule Conflicting with react-native-sensors"
**Describe the bug**
![Screenshot from 2021-03-05 17-35-12](https://user-images.githubusercontent.com/81793601/113403078-b769c480-93c3-11eb-927c-5ea03b0b8f16.png)

**To Reproduce**
Steps to reproduce the behavior:

Override OrientationModule when two packages installed.

1.  install react-native-orientation-locker & react-native-sensors
2.  When build in development throwing error as per screen sh

[2021-04-03 06:48] stanlygamer commented on #381
Same error ;

I am using

React Native Version: 0.63.4
Device Android, samsung with android 11

[2021-04-03 07:32] poorvajappja commented on #381
Same issue

[2021-04-03 08:23] PradeepSimba commented on #381
Same issue

[2021-04-05 06:19] the-one-jay-301 commented on #381
@DanielMSchmidt Can you provide quick fix for this issue ?

[2021-04-11 19:06] ricardoballaro commented on #381
Hey guys, while we don't have a fix. I worked around the problem using the previous version.
Work for me.
npm i react-native-sensors@7.0.2

[2021-04-13 14:41] stanlygamer commented on #381
thanks , it works.

[2021-04-22 23:21] polymorpher commented on #272
I am getting NSInternalInconsistencyException, not sure if it is related

[2021-04-23 05:52] polymorpher commented on #381
Is there any other way to fix it, without forking the whole repository and changing the file names?

https://github.com/react-native-sensors/react-native-sensors/compare/v7.0.2...v7.2.0

[2021-04-23 12:32] DanielMSchmidt commented on #381
Hey folks, I have a PR with the fix, can you please test the new pre-release: https://github.com/react-native-sensors/react-native-sensors/pull/383 and approve if its working as expected

[2021-04-28 13:13] MichHighlander commented on #381
Just so you know, android has the same problems

[2021-04-30 14:01] Talha-Jawed opened #384 "duplicate symbols for architecture x86_64"
<img width="803" alt="Screenshot 2021-04-29 at 4 00 17 PM" src="https://user-images.githubusercontent.com/39768820/116705688-3c0d2a00-a9e6-11eb-9a01-80cae631a1f4.png">

**Describe the bug**
getting error on iOS - 2 duplicate symbols for architecture x86_64

**To Reproduce**
1.  install latest versions of react-native-sensors (7.2.0)
2.  build ios app

**Expected behavior**
iOS App is builded but E

[2021-05-30 19:21] leamachado7 opened #389 "How to write a test for react-native-sensors?."
Hello, dear community!

I was asked to write a test for accelerometer data but I can't imagine a way to do it, could you give me some insight on how to do this?.

I don't have much idea on how to write these unit tests, but some insight would be really helpful.

Thank you in advance :)

[2021-06-07 22:18] leamachado7 opened #391 "TYPE_LINEAR_ACCELERATION Exclude gravity from acceleration"
**What is the purpose of this sensor?**
Because some times you want to exclude gravity from calculations, it would be nice to have it there.

**Is it supported on both iOS and Android?**
Yes

**Is there a way to test this sensor without a real device?**
Yes

**Would you be willing to respond to issues / PRs for this sensor?**
Yes

[2021-06-12 11:01] #381 closed

[2021-06-14 19:36] bqrichards commented on #384
This looks like an issue that upgrading to [v7.2.1-rc.2](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v7.2.1-rc.2) might be able to fix.

[2021-06-14 20:23] bqrichards commented on #381
@DanielMSchmidt Although #383 fixed a build error with Xcode / iOS, this module error still appears on Android. It looks like the module named "Orientation" is taken by org.wonday.orientation.OrientationModule as well as com.sensors.RNSensor (when sensor of name "Orientation" is made).

I would love to make a PR on react-native-orientation-locker because it looks like the amount of changes needed

[2021-07-16 21:18] pireez commented on #391
What this package represents right now is ( Gravity  + device acceleration ) = acceleration
this week I will pull a request to add two more types
acceleration , gravity excluded = linearAcceleration
and "gravity" stand alone
1-acceleration
2-linearAcceleration
3-gravity

for android is ready and I'm working for ios to make it work so the package will be promising for both!

stay tuned ;)

[2021-07-17 20:44] DanielMSchmidt commented on #391
Sounds great, this is the most requested feature! Thanks a ton!

[2021-07-17 23:30] Ehsan0Hejazi commented on #391
@DanielMSchmidt still working on it
some phones does not support linearAcceleration natively but gravity is supported on all of them
so I will only add gravity to package so users can easily get
linearAcceleration = acceleration - gravity

[2021-07-18 19:06] Ehsan0Hejazi commented on #391
gravity property added for both ios and android to the package and I'm waiting for you @DanielMSchmidt  to merge my pull request

you can even update the API doc
and add the gravity to it
It's just like accelerometer outputs

[2021-07-23 21:02] DanielMSchmidt commented on #381
:tada: This issue has been resolved in version 7.3.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors/v/7.3.0)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v7.3.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-07-24 23:08] DanielMSchmidt commented on #391
This seems to be solved now :)

[2021-07-24 23:08] #391 closed

[2021-07-29 19:28] Ehsan0Hejazi opened #403 "Android does not emit data on subscribe"
On last version ios is working fine but android does not emit any data

[2021-08-01 00:15] qasimmehdi commented on #403
I am having the same issue in 7.3. First I installed the package and ran the app without using link and the subscription was not logging any valyes. Then I ran link command and tried again it is still not working. Tried to downgrade to version 7.2 then I got an error Native modules for sensors not available. Did react-native link run successfully?
Using
react-native 0.64.2

[2021-08-02 13:45] Ehsan0Hejazi commented on #403
I have added a new feature to the package and some references on android does not work correctly I will try to solve the issue
If you don't need the raw values of acceleration feel free to use the old versions

[2021-08-02 14:05] Ehsan0Hejazi commented on #403
but if you need gravity to exclude it form accelerometer I will give you a temporary solution until the next update,

node_module > react-native-sensors > android > src > main > java > com > sensors > RNSensorsPackage.java

replace

        -new RNSensor(reactContext, "RNSensorsGyroscope", Sensor.TYPE_GYROSCOPE),
        -new RNSensor(reactContext, "RNSensorsAccelerometer", Sensor.TYPE_ACCELEROMET

[2021-08-02 14:41] qasimmehdi commented on #403
I am using magnetometer in the useEffect of my screen
[code]

and the above code does not log anything. But I logged subscription variable and it has some data in it so `magnetometer.subscribe` line is executing.

[2021-08-04 07:24] Rafay3198 opened #404 "Megnetometer not return data in console"
Megnetometer does not return data in console when I execute following code:

[code]

// NOT GETTING x,y , z AND TIMESTAMP IN CONSOLE

[2021-08-04 15:29] Ehsan0Hejazi commented on #404
node_module > react-native-sensors > android > src > main > java > com > sensors > RNSensorsPackage.java

replace

    -new RNSensor(reactContext, "RNSensorsGyroscope", Sensor.TYPE_GYROSCOPE),
    -new RNSensor(reactContext, "RNSensorsAccelerometer", Sensor.TYPE_ACCELEROMETER),
    -new RNSensor(reactContext, "RNSensorsGravity", Sensor.TYPE_GRAVITY),
    -new RNSensor(reactContext, "RNSensorsMagne

[2021-08-04 15:30] Ehsan0Hejazi commented on #404
@DanielMSchmidt please solve this issue, thanks

[2021-08-05 05:46] am2619015 commented on #403
Same issue here, gladly I just downgrade version to 7.2.0, and it's working, not version above this one is working properly in android

[2021-08-06 12:24] sxsx2yzyz commented on #403
It works for me
node_modules/react-native-sensors/src/sensors.js
[code]
Change to
[code]

[2021-08-07 08:27] #403 closed

[2021-08-07 08:28] DanielMSchmidt commented on #403
:tada: This issue has been resolved in version 7.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors/v/7.3.2)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v7.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-08 17:39] DanielMSchmidt commented on #404
This should be fixed by #405 so in version `7.3.2`

[2021-08-08 17:39] #404 closed

[2021-08-15 19:46] DanielMSchmidt commented on #389
I think the best way would be to mock away this library by recreating the same interface in a manual mock. This is how it's done in jest: https://www.strv.com/blog/quickest-simplest-way-mocking-module-dependencies-jest-engineering

Integration testing is unfortunately not possible, the enumlators don't really support it: https://danielmschmidt.de/lets-move-the-emulator/

[2021-08-15 19:46] #389 closed

[2021-08-19 03:09] kyoz opened #407 "`RNSensorsAccelerometer` is not a supported event type for RNSensorsAccelerometer"
**Describe the bug**

Version 7.3.2 will throw this error when try listeners for sensors:

[code]

Maybe duo to the change of listener names in [this commit](https://github.com/react-native-sensors/react-native-sensors/commit/61c1d12f47c51f9e619f89a3299d198b74ca1387)

7.3.1 and below still working

**Expected behavior**

Should working without error

**Desktop (please complete the following inform

[2021-08-19 17:58] kurovskyi commented on #407
The same thing on RN 0.64.2

[2021-08-19 18:01] kurovskyi commented on #407
I've tried go to "node_modules/react-native-sensors/src/sensors.js" and rename "RNSensorAccelerometer" to "Accelerometer" in listenerKeys var:
`["accelerometer", "Accelerometer"],`

Waiting for the fix.

[2021-08-19 19:16] #407 closed

[2021-08-19 19:17] DanielMSchmidt commented on #407
:tada: This issue has been resolved in version 7.3.3 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/react-native-sensors/v/7.3.3)
- [GitHub release](https://github.com/react-native-sensors/react-native-sensors/releases/tag/v7.3.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-08-23 14:23] arthedza opened #409 "Please add the orientation sensor to the documentation"
We have already released the functionality of the orientation sensor ([#349](https://github.com/react-native-sensors/react-native-sensors/pull/349)) but its description absolutely absent in the docs.

[2021-08-23 15:30] DanielMSchmidt commented on #409
I'm happy to review a PR about this :)

[2021-08-30 08:54] renovate[bot] opened #410 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency pretty-quick to v3.1.1
 - [ ] chore(deps): update dependency regenerator-runtime to v0.13.9
 - [ ] chore(d

[2021-09-23 09:14] tosha4encko opened #411 "`JSON object value was a NaN or INF ` in NativeRunnable.jave"
This error was throwing when pitch is equel 90 or -90
**To Reproduce**
Steps to reproduce the behavior:

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**

- React Native Version: [e.g. 55.0.1]
- Device [e.g. real iOS device, and

[2021-11-03 18:38] tomgreco commented on #409
Please add this.

[2021-11-03 19:02] tomgreco commented on #234
Would love to see typescript support added.

[2021-11-04 09:49] DanielMSchmidt commented on #234
Awesome @tomgreco,  I'm more than happy to review the PR 👍

[2021-11-04 11:18] tomgreco opened #412 "How to get altitude using the barometer sensor?"
It's not clear but I think it is possible. My attempts have not been successful though.

[2021-11-09 14:49] phen0menon opened #413 "Uncaught Error: Unknown (iOS Simulator)"
**Describe the bug**
Getting critical error on iOS simulator when subscribing to accelerometer. The error can be hidden. But it appears every time you start the emulator, which is terribly inconvenient. It also produces an error in the console:

[code]

![telegram-cloud-photo-size-2-5212925884921657907-x](https://user-images.githubusercontent.com/15520523/140945819-e1015c41-2797-4d04-a9aa-aa2f8fc4

[2021-11-18 05:56] grgmgd commented on #413
I solved mine by catching the error using RxJs

[2021-12-03 11:01] shamoilarsi commented on #409
@DanielMSchmidt the docs have already been updated in https://github.com/react-native-sensors/react-native-sensors/pull/349/commits/abe80e7087a23cefd2a41cccae37e9ffe5239e51 on PR https://github.com/react-native-sensors/react-native-sensors/pull/349

deploying the latest `docs/API.md` should add it to the documentation

[2021-12-09 06:38] alissayarmantho opened #414 "Performance Issues on 10ms updates"
Hello, I am trying to use the accelerometer and gyroscope sensors to do fall detection. However, this requires updates every 10ms or at most 100ms which I believe saturates the react-native bridge. Is there a possible solution for this? Thanks for the help!

[2021-12-10 15:59] DanielMSchmidt commented on #414
Hey, I think you'd need to have the business logic in the native land, so in Android or iOS directly. I'm not aware on ways for libraries to  optimize the bridge usage.

One thing we could try is to add a level of filter to the API, but we'd need to be able to express it statically, e.g. new Gyroscope({minThreashold: 42}) and it only fires if that threashold is met and therefore leaves the bridge

[2021-12-10 16:10] alissayarmantho commented on #414
I see, thank you for the suggestion!

[2022-01-09 01:44] #346 closed

[2022-01-09 01:44] #342 closed

[2022-01-09 01:44] #348 closed

[2022-01-09 01:44] #344 closed

[2022-01-28 17:57] AidenForrest opened #416 "Error with addListener and removeListeners on Android"
Hello,

I have recently installed this module on my React Native project and it works perfectly fine on iOS, but on Android I get a never-ending stream of the following two warning messages which freezes the app completely:

[code]

Any help would be greatly appreciated.

RN version: 0.67.1
react-native-sensors version: 7.3.3
Android version: 9

[2022-01-28 21:35] AidenForrest commented on #416
Fixed, was incorrectly installed

[2022-01-31 14:46] nicolekapp commented on #290
what can we do to use accelerometer? in ios

[2022-02-04 11:33] rubina-shakhkyan opened #417 "Running with hermes engine causes app to crash"
**Describe the bug**
The crash can be fixed by removing `toLocaleLowercase` function.

**To Reproduce**
Steps to reproduce the behavior:

Integrate the package in an app, where `react-native 0.66` and `hermes 0.9.0` are used.

**Expected behavior**
Should not crash
**Desktop (please complete the following information):**

- React Native Version: [0.66.0]
- Device [any android device]
- Version [7.

[2022-02-04 11:46] DanielMSchmidt commented on #417
Ah, didn't know they are not supporting that :) I'm more than happy to review a Pr 👍

[2022-02-04 11:57] rubina-shakhkyan commented on #417
Here you go 🙂 https://github.com/react-native-sensors/react-native-sensors/pull/418

I just quickly removed lowercase-ing.

[2022-02-10 11:25] #417 closed

[2022-02-19 20:39] vajos opened #419 "How to interpret Pitch, Yaw , Roll on the orientation feature?"
https://github.com/react-native-sensors/react-native-sensors/blob/master/docs/API.md#orientation-observableqx-number-qy-number-qz-number-qw-number-pitch-number-roll-number-yaw-number-timestamp-string

The documentation there just says "pitch, roll, yaw are calculated by iOS/Android. "

When i Try to use them

`console.log("Pitch: " + pitch + "   " + " Roll: " + roll + "    " + "Yaw: "+ yaw);`

I g

[2022-02-27 10:58] wibimaster commented on #416
@AidenForrest Can I know how you fix it ? I have the same error after a basic install :
[code]

[2022-02-27 11:04] AidenForrest commented on #416
@wibimaster I don’t think I ever managed to completely fix it but a work around was disabling the errors by either ignoring them by using:

`import { LogBox } from 'react-native';
LogBox.ignoreLogs(['Warning: ...']); // Ignore log notification by message `

Or another method that prevented the freezing was running the Android app as release rather than debug.

Hope one of these workarounds works f

[2022-02-28 08:56] Tim4497 commented on #391
Hey, I have a maybe more general question, but how do you subtract the gravity from the acceleration synchronous?

Im pulling both once per second but it seems that gravity starts a bit later than Accelerator so when I calculate the linear Acceleration it's slightly off

[2022-02-28 09:06] Ehsan0Hejazi commented on #391
Hey, nice question unfortunately site document is not updated yet and I will make an update for it,
but document inside the source code in updated by me:

here's the new gravity API added to it:
[https://github.com/react-native-sensors/react-native-sensors/blob/master/docs/API.md#gravity-observablex-number-y-number-z-number-timestamp-string](url)

and here I have explained exactly how it can be ex

[2022-02-28 09:06] Ehsan0Hejazi commented on #391
Hey, nice question unfortunately site document is not updated yet and I will make an update for it,
but document inside the source code in updated by me:

here's the new gravity API added to it:
[https://github.com/react-native-sensors/react-native-sensors/blob/master/docs/API.md#gravity-observablex-number-y-number-z-number-timestamp-string](https://github.com/react-native-sensors/react-native-sen

[2022-02-28 09:14] Ehsan0Hejazi commented on #391
Hey, nice question unfortunately the site document is not update based document attached to source code so I will refer you to it

Here's the new API gravity:
[API-DOC](https://github.com/react-native-sensors/react-native-sensors/blob/master/docs/API.md#gravity-observablex-number-y-number-z-number-timestamp-string)

And here I have explained exactly how you can exclude it by RxJS
[USAGE-DOC](https

[2022-03-01 10:32] Tim4497 commented on #391
Nice solution but sadly when one Sensor updates before the other it will generate a new Output, I get two values in the same interval, the solution can be to just take one of the two calculated values per interval, but I guess there is no way to really clock both sensors to the same millisecond?

[2022-03-02 15:48] Ehsan0Hejazi commented on #391
I know what you mean,
to clarify there are three APIs for dealing with acceleration

1-Total Acceleration which is (device acceleration + gravity acceleration )
2-Gravity acceleration standalone
3-linear acceleration which is (Total acceleration - Gravity acceleration)

based on an issue which linear acceleration API is not supported by a few old android devices I decided not to include it into pa

[2022-03-02 17:47] Tim4497 commented on #391
I'm building an app for collecting sensor data from my phone to run them against an AI.
I don't know if I really need the acceleration in the first place but I want to collect one data point per interval, so its hard to decide which of the two from combine_latest is more relevant.

But overall I guess a lot of people don't mind the few old android devices :)

It also seems that this package is the

[2022-03-02 20:53] Ehsan0Hejazi commented on #391
it seems interesting,
I will add this feature in a few days and will let you know here
stay tuned ;)

[2022-03-07 07:53] carltian commented on #346
same issue, how do u solve it? i try to change minSdkVersion, but it doesn't work.

[2022-03-07 07:59] carltian opened #426 "Error: Native modules for sensors not available. Did react-native link run successfully"
**Describe the bug**
when i use it on ReactNative, it can't work, and report Error: Native modules for sensors not available. Did react-native link run successfully

**To Reproduce**

1.  yarn add react-native-sensors
2.  react-native link react-native-sensors
3.  react-native run-android
4.  See error: Native modules for sensors not available. Did react-native link run successfully

- React Nativ

[2022-03-23 14:31] sedot42 commented on #416
This is helpful: https://stackoverflow.com/questions/69538962/new-nativeeventemitter-was-called-with-a-non-null-argument-without-the-requir

A pull request like this might fix this: https://github.com/microsoft/appcenter-sdk-react-native/pull/942/files

[2022-03-24 00:16] Karemhz commented on #416
Same problem

[2022-04-20 06:46] adeshchopade commented on #391
@DanielMSchmidt @Ehsan0Hejazi

Thanks for all the work that you have done on this library.

It would be great if you could add linearAcceleration as well.

Right now I'm subtracting gravity values from the raw accelerometer, however, there is a time difference between data returned by both of the sensors, sometimes upto 1 second which is affecting calculations in the app I'm working on.

[2022-04-22 13:09] Ehsan0Hejazi commented on #391
Your welcome,
does this calculations make a meaningful effect on your application logic?!
as I have mentioned before linearAcceleration might not be accessible on some devices but for sure we can add it to the package,  so you need to check to make sure It responses to you with correct data otherwise the only alternative would be the same dummy calculations!

[2022-04-23 14:44] adeshchopade commented on #391
Yes. We're working on an app that identifies driving behaviour. We use the accelerometer values as one of the parameters.
Having even a 100ms delay in the accelerometer and gravity values is adding a huge margin of error.

Agreed that linearAcceleration might not be available in older / budget android devices, but it does make sense to add it to the library for majority of the devices that do supp

[2022-04-23 20:18] Ehsan0Hejazi commented on #391
Ok , I will make a pr for upcoming week with the requested feature!

[2022-04-26 08:24] adeshchopade commented on #391
Thanks. Would be great if you could do that.

On Sun, Apr 24, 2022 at 1:48 AM Ehsan Hejazi ***@***.***>
wrote:

[2022-04-26 21:43] jamonholmgren commented on #414
With the React Native new architecture & JSI, this problem could be worked around. RN 0.68 has support (behind a flag) and RN 0.69 will have React 18.

[2022-05-30 10:51] odogono opened #427 "Android useAnimatedSensor not working"

[2022-05-30 10:59] #427 closed

[2022-06-13 06:57] DenysLopatynskyiB commented on #413
+1 to this.
Once you call accelerometer.subscribe you get the error

![Simulator Screen Shot - iPhone 13 - 2022-06-13 at 16 57 07](https://user-images.githubusercontent.com/88873017/173297126-58649ad7-39e8-4ff7-aed0-144979d1b6a3.png)

[2022-07-20 21:54] VanLMC opened #435 "Ios error on installation"
First i was running the app on ios and getting the same error as in this issue https://github.com/react-native-sensors/react-native-sensors/issues/413. Then i thought it could possibly be because i missed some step in the ios installation guide. But after following the steps in the guide here : https://react-native-sensors.github.io/docs/Installation.html the app doesn't even build anymore. I get

[2022-07-23 05:57] rowannadon commented on #435
I have the same issue, except the missing file is React/RCTBridge.h

[2022-07-29 05:59] jainharsh21 commented on #414
@alissayarmantho could you please assist me in knowing how exactly are you using this package for fall detection, our team needs to integrate in an app as well, it would be very much appreciated

[2022-07-29 07:22] alissayarmantho commented on #414
I use the gyroscope and acceleration to calculate a value. This value is used to determine if there's a fall detection or not.

The calculation formula is from some research paper.

[2022-07-29 08:01] jainharsh21 commented on #414
@alissayarmantho thank you for the reply, is it possible for you to share the formula or the code snippet, it'll be really helpful, my use case is to report if a fall was detected or not, thanks in advance.

[2022-07-29 08:36] alissayarmantho commented on #414
Ah, I think you can google them somewhere online. I've forgotten where it came from and the accuracy was not that ideal either. The code was quite long too so I don't think I can share that here.

[2022-07-29 08:54] jainharsh21 commented on #414
Okay thank you

[2022-08-03 14:11] ZweiEuro commented on #319
@organom Are you still working on this or have you found other relevant information ?

[2022-08-03 14:52] organom commented on #319
@ZweiEuro unfortunately my free time in the last year has been close to 0, and to my best estimation I'll not be able to get back to this anytime soon. If someone wants to pick the task, please feel free.

[2022-08-05 09:40] oleksii00ishchenko opened #436 "Unit test Jest and Testing Library: Can't mock sensors"
I mocked library in `jest.setup` file like this
`jest.mock('react-native-sensors', () => require('react-native-sensors/mock'));`
This works fine through all tests except one case.

In my project i have hook that calculates pitch using orientation.
![Screenshot 2022-08-05 at 11 57 56](https://user-images.githubusercontent.com/103244387/183042011-c07c543c-e350-4051-91f1-6acd142d8d1c.png)

The proble

[2022-09-10 13:42] 3SCadmin opened #437 "Outdated instruction/example-code"
Sep 2022, react-native is v.070
using Win10 + Android device

Sorry to post like a noob ... but it took me almost an hour to get a simple example working.

I can't run any of the **examples/** out of the box because after I resolve one compatibility error, it only leads to the next.

- Your Readme Points at your website
- Your Website's try-it-out button points at /docs/Usage.html
   But that is s

[2022-09-17 13:05] kiran10d opened #438 "Pedometer Sensor"
**What is the purpose of this sensor?**
Pedometer sensor is used to calculate the physical activity of the user like step count

**Is it supported on both iOS and Android?**
Yes
**Is there a way to test this sensor without a real device?**
No

**Would you be willing to respond to issues / PRs for this sensor?**
Unsure

[2022-10-10 15:38] am2619015 commented on #416
Instead of ignoring all warnings, probably the best approach will be add on index.js
import { LogBox } from 'react-native';
LogBox.ignoreLogs(['new NativeEventEmitter']);
However, it is not a fix, the future library should support these warnings, this happens in new versions of RN like 0.70.2

[2022-10-11 09:13] ahmad-crossplatform commented on #438
Would be really awsome to have this :)

[2022-11-08 10:25] powerpivar commented on #416
Same problem for me, any updates?

`"react-native-sensors": "7.3.5",
"react-native": "0.67.4",
`

[2022-11-16 03:54] MordiukRoman commented on #426
have the same issue on android emulator, react native 0.67.4

[2022-11-21 04:10] littlecircle0730 commented on #426
Did this be fixed?

[2022-11-29 05:01] phil-lui opened #441 "Android and Js code not sync cause all android sensor event not emitted to Js"
**Describe the bug**
JS and android interface behavior are different which makes android RNSensor.isBeingObserved will be always false

**To Reproduce**
Steps to reproduce the behavior:

1. install react-native-sensors 7.3.6
2. subscribe any sensors at react native side
3. build android release
4. no sensor values will be emitted

**Expected behavior**
Able to get sensor values

**Desktop (please